/*Custom Alert */

.alert-warning {

color: #c09853;

background-color: #fcf8e3;

border-color: #fbeed5;

}

 

.alert {

padding: 15px;

margin-bottom: 20px;

border: 1px solid transparent;

}

 

.custom-alert {

padding: 0px !important;

margin-bottom: 0px;

display: none;

z-index: 5;

}

 

.fade {

opacity: 0;

-webkit-transition: opacity .15s linear;

transition: opacity .15s linear;

}

 

.container {

padding-right: 15px;

padding-left: 15px;

margin-right: auto;

margin-left: auto;

width: 960px;

}

 

.custom-alert{

  padding: 0px !important;

  margin-bottom: 0px;

  display: none;

  z-index: 5;

}

.custom-alert h3 {

  color: #CC0000;

  font-size: 20px;

  margin-top: 5px;

  margin-bottom: 5px;

}

.custom-alert ul {

  margin-bottom: 3px;

}

button.close{

  display: none;

}

 

.promoted-articles > ul > li {

  display: inline-block;

  margin: 0 20px 4px 0;

} 