/*for equal column heights*/

@media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }
}

.client-active {
        background-color: #ff780d !important;
        color: #ffffff !important;
    }

    .textfont1-2>ul>li>a {
        color: #7c7c7c;
    }

    a {
        color: inherit;
    }

    .textfont1-2>ul>li {
        margin-top: 10px;
    }

    .nav>li>a:focus,
    .nav>li>a:hover {
        background-color: #ffffff;
    }

    .fa {
        padding: 5px;
        font-size: 15px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 3px 1px;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-google {
        background: #dd4b39;
        color: white;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
        line-height: 1;
    }

    .fa-youtube-play {
        background: #bb0000;
        color: white;
        line-height: 0.5;
    }

.tab-active {
    display: block;
}

.list-active {
    background-color: #ffffff !important;
    border-right: #ffffff !important;
}

.list-custom {
    height: 60px;
    background: #f6f3ee;
    padding-left: 45px;
    padding-top: 20px;
}

.customdiv {
    margin: 0px;
    min-height: 20px;
    background-color: silver;
    text-align: center;
    font-size: large;
}

.customdiv1 {
    margin: 0px;
    min-height: 60px;
    background-color: brown;
    text-align: center;
    font-size: large;
}

.customdiv2 {
    margin: 0px;
    min-height: 300px;
    background-color: white;
    text-align: center;
    font-size: large;
}

p {
    text-align: justify;
}

.Kookoo-Header-Logo {

    width: 170px;
    height: 47px;
}

.FOR-BUSINESSES-FOR-DEVELOPERS-SOLUTIONS {
    /*width: 150px;*/
    padding-top: 25px;
    height: 9px;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: bold;
    line-height: 2;

    color: #5d5d5d;
    letter-spacing: 0.1em;
}

.REQUEST-FOR-DEMO {
    margin-top: 20px;
    width: 291px;
    height: 51px;
    border-radius: 4px;
    background-color: #ff780d;

    box-shadow: 0 0 10.5px 3.5px rgba(248, 138, 31, 0.2);
}

.REQUEST-FOR-DEMO-1 {
    width: 200px;
    height: 38px;
    border-radius: 4px;
    background-color: #ff780d;

    box-shadow: 0 0 10.5px 3.5px rgba(248, 138, 31, 0.2);
}

.icon-bar {
    background-color: #ff780d;
}

.FOR-BUSINESSES-FOR-DEVELOPERS-SOLUTIONS1 {
    /*width: 135px;*/
    border-radius: 4px;
    background-color: #ff780d;

    box-shadow: 0 0 10.5px 3.5px rgba(248, 138, 31, 0.2);
}

.TRY-FREE-DEMO {
    /*width: 99px;*/
    height: 9px;
    font-family: Montserrat;
    font-size: 12px;

    line-height: 2;
    text-align: center;
    color: #ffffff;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.SIGN-UP-FOR-API {
    width: 299px;
    height: 70px;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: bold;
    line-height: 2;
    text-align: center;
    color: #ffffff;
    padding-top: 0.5PX;
}

.REQUEST-FOR-DEMO0 {

    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    text-align: center;
    color: #ffffff;
}

.REQUEST-FOR-DEMO1 {

    padding-top: 8px;
    padding-left: 10px;
    height: 18px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bolder;
    line-height: 37px;
    /* text-align: center;*/
    color: #ffffff;
}

.Rectangle-7-copy1 {
    /* width: 1440px;*/
    /*height: 488px;*/
    color: #ffffff;
    /*background-image: linear-gradient(#8b7560, #8b7560), linear-gradient(162deg, #ff931e, #d64c00), linear-gradient(153deg, #4137be, #5194f8);*/
    background-image: linear-gradient(bottom, #fdfaf6 80%, #8b7560 20%);
    background-image: -o-linear-gradient(bottom, #fdfaf6 80%, #8b7560 20%);
    background-image: -moz-linear-gradient( bottom, #fdfaf6 80%, #8b7560 20%);
    background-image: -webkit-linear-gradient(bottom, #fdfaf6 80%, #8b7560 20%);
    background-image: -ms-linear-gradient(bottom, #fdfaf6 80%, #8b7560 20%);
}


.Rectangle-7-copy {
    height: 260px;
    color: #ffffff;
    background-image: linear-gradient(#8b7560, #8b7560), linear-gradient(162deg, #ff931e, #d64c00), linear-gradient(153deg, #4137be, #5194f8);
}

.Rectangle-7-copy0 {
    /* width: 1440px;*/
    /*height: 488px;*/
    color: #ffffff;
    /*background-image: linear-gradient(#8b7560, #8b7560), linear-gradient(162deg, #ff931e, #d64c00), linear-gradient(153deg, #4137be, #5194f8);*/
    background-image: linear-gradient(bottom, #ffffff 20%, #8b7560 80%);
    background-image: -o-linear-gradient(bottom, #ffffff 20%, #8b7560 80%);
    background-image: -moz-linear-gradient(#8b7560 80%, #ffffff 20%);
    background-image: -webkit-linear-gradient(bottom, #ffffff 20%, #8b7560 80%);
    background-image: -ms-linear-gradient(bottom, #ffffff 20%, #8b7560 80%);
}




.Rectangle-6 {
    margin: 10px;
    width: 200px;
    height: 170px;
    background-color: #ffffff;
    background-color: var(--white);
    border: solid 1px #ebebeb;
}

.Rectangle-6-0 {

    /*width: 560px;*/
    /*height: 200px;*/
    background-color: #ffffff;

    border: solid 1px #ebebeb;
    padding-bottom: 30px;
}

.Rectangle-6-2 {
    margin: 10px;
    width: 200px;
    height: 170px;
    background-color: #ffffff;
    background-color: var(--white);
    border: solid 1px #ffffff;
}

.Rectangle-6-1 {


    height: 328px;
    background-color: #ff931e;
}

.Rectangle-6-12 {


    height: 449px;
}

.Rectangle-615 {

    width: 330px;
    height: 130px;
    background-color: #f6f0e7;
}

.Rectangle-614 {

    width: 330px;
    height: 130px;
    background-color: #ffffff;
}

.Rectangle-6c {

    width: 200px;
    height: 170px;
    background-color: #ffffff;
}

.Rectangle-6c-1 {

    width: 200px;
    height: 100px;
    background-color: #ffffff;
}

.Rectangle-8 {


    background-color: #f6f0e7;
}

.textfont1-3 {
    background-color: #fdfaf6;
}

.textfont {
    color: #ff780d;
    font-family: Poppins;
    /*font-weight:bold;*/
}

.textfont1 {
    color: #7c7c7c;
    font-family: Poppins;
    /*font-weight:bold;*/
}

.textfont1-1 {
    color: #000000;
    font-family: Poppins;
    font-size: 14px;
    margin-bottom: 20px;
    /*font-weight:bold;*/
}

.textfont1-2 {
    color: #7c7c7c;
    font-family: Poppins;
    font-size: 11px;
    /*font-weight:bold;*/
}

.textfont2 {
    color: #656565;
    font-family: Poppins;
    font-size: 13px;
    /*padding-left: 30px;*/ 
    padding-right: 30px;
    /*font-weight:bold;*/
}

.textfont2-test {
    color: #656565;
    font-family: Poppins;
    font-size: 13px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    /*font-weight:bold;*/
}

.textfont2-1 {
    color: #7c7c7c;
    font-family: Poppins;
    font-size: 13px;
    /*font-weight:bold;*/
}

.textfont3-0 {
    background-color: #f6f3ee;
    font-family: Poppins;
    color: #656565;
    font-size: 14px;
}

.textfont3 {
    margin-top: -20px;
    margin-left: 40px;
    color: #152453;
    font-family: Poppins;
    background-color: #f6f3ee;
}

.textfont3-1 {
    margin-top: -20px;
    margin-left: 120px;
    margin-left: 40px;
    height: 1100px;
    color: #152453;
    font-family: Poppins;
    background-color: #f6f3ee;
}

.textfont3-2 {
    margin-top: -20px;
    margin-left: 120px;
    margin-left: 40px;
    height: 1140px;
    color: #152453;
    font-family: Poppins;
    background-color: #f6f3ee;
}

.textfont4 {
    color: #ff780d;
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    padding-top: 30px;
    /*padding-left: 59px;*/
    /*font-weight:bold;*/
}

.textfont5 {

    height: 13px;
    color: #ff780d;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 50px;
    /*padding-left: 30px;*/
    /*font-weight:bold;*/
}

.textfont5-1 {
    margin-top: 20px;


    font-family: Poppins;
    font-size: 13px;
    line-height: 1.85;
    text-align: justify;
    color: #656565;
    margin-bottom: 20px;
    /*padding-left: 59px;*/
    padding-right: 101px;
}

textfont5-1 {
    margin-top: 20px;


    font-family: Poppins;
    font-size: 13px;
    line-height: 1.85;
    text-align: justify;
    color: #656565;
    margin-bottom: 20px;
    padding-left: 59px;
    padding-right: 101px;
}

.textfont5-2 {

    height: 13px;
    color: #ff780d;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 32px;
    /*font-weight:bold;*/
}

.textfont6 {
    color: #ff780d;
    font-family: Poppins;
    font-weight: 600;
    font-size: 36px;
    /*font-weight:bold;*/
}

.textfont6-1 {
    color: #ff780d;
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    /*font-weight:bold;*/
}

.textfont7 {

    height: 13px;
    color: #ff780d;
    font-family: Poppins;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 20px;
    /*font-weight:bold;*/
}

.textfont8 {
    padding-bottom: 27px;

    font-family: Poppins;
    font-size: 14px;
    line-height: 1.29;
    color: #7c7c7c;
}

.textfont8-1 {
    padding-bottom: 10px;

    font-family: Poppins;
    font-size: 14px;
    line-height: 1.29;
    color: #7c7c7c;
}

.textfont8-2 {
    font-family: Poppins;
    font-size: 14px;
    line-height: 1.29;
    color: #7c7c7c;
}

.textfont9 {
    color: #ffffff;
    font-family: Poppins;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    /*font-weight:bold;*/
}

.textfont10 {
    color: #ffffff;
    font-family: Poppins;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    /*font-weight:bold;*/
}

.textfont10-1 {
    color: #ff780d;
    font-family: Poppins;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    /*font-weight:bold;*/
}

.textfont11 {
    color: #ffffff;
    font-family: Poppins;

    font-size: 15px;
    text-align: center;
    /*font-weight:bold;*/
}

.textfont11-1 {
    color: #ffffff;
    font-family: Poppins;
    font-weight: 300;
    line-height: 2;
    font-size: 30px;
    text-align: center;
    /*font-weight:bold;*/
}

.textfont12 {
    color: #000000;
    font-family: Poppins;

    /*font-weight:bold;*/
}

.textfont13 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    text-align: center;
    color: #363636;
}

.textfont14 {
    font-family: Poppins;
    font-size: 32px;
    line-height: 0.75;
    letter-spacing: -0.8px;
    text-align: center;
    color: #ff780d;
    font-weight: 800;
}

.textfont15 {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.7px;
    color: #fefefe;
    text-align: left;
    font-weight: bold;
}

.textfont16-1 {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -1.2px;
    text-align: left;
    color: #000000;
}

.textfont16 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.4px;
    text-align: left;
    color: #000000;
}

.textfont17 {
    font-family: Poppins;
    font-size: 14px;

    text-align: justify;
    color: #575757;
}

.textfont18 {

    width: 72px;
    height: 156px;
    font-family: Abril Fatface;
    font-size: 200px;
    letter-spacing: -5px;
    text-align: left;
    color: #d8d8d8;
}

.textfont18-1 {

    width: 43px;
    height: 34px;
    font-family: Abril Fatface;
    font-size: 120px;
    letter-spacing: -5px;
    text-align: left;
    color: #d8d8d8;
    line-height: 0.18;
}

.textfont18-2 {

    width: 72px;
    height: 156px;
    font-family: poppins;
    font-size: 200px;
    letter-spacing: -5px;
    text-align: left;
    color: #d8d8d8;
}

.textfont19 {

    font-family: Poppins;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    text-align: justify;
    color: #555555;
    padding-left: 40px;
}

.textfont19-1 {

    font-family: Poppins;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    text-align: justify;
    color: #555555;
    padding-left: 30px;
    padding-right: 20px;
}

.textfont20 {
    font-family: Poppins;
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    color: #ff780d;
}

.textfont21 {
    color: #868686;
}

.Support {

    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 2.5;
    text-align: left;
    color: #cf1d47;
    color: var(--lipstick);
}

.background {
    width: 1440px;
    height: 1300px;
    background-color: #f00000;
}

.buttonclass {
    width: 155.8px;
    height: 31.1px;
    border-radius: 15.6px;
    background-color: #ff780d;
    color: #ffffff;
}

.buttonclass1 {
    color: #999999;
    font-family: Montserrat;
    font-size: 12px;
    width: 155.8px;
    height: 31.1px;
    border-radius: 15.6px;
    background-color: #ebebeb;
}

.formstyle {
    background-color: #ffffff;

    box-shadow: 0 0 43px 0 rgba(176, 176, 176, 0.29);
}

.input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px;
    border-style: solid;
    border-bottom-color: #a7a7a7;
}

.your-name {

    font-family: Poppins;
    font-size: 12px;
    line-height: 2;
    text-align: left;
    color: #a7a7a7;
}

.backdrop {
    background-image: linear-gradient(bottom, #eae3d9 60%, #FFFFFF 40%);
    background-image: -o-linear-gradient(bottom, #eae3d9 60%, #FFFFFF 40%);
    background-image: -moz-linear-gradient(bottom, #eae3d9 60%, #FFFFFF 40%);
    background-image: -webkit-linear-gradient(bottom, #eae3d9 60%, #FFFFFF 40%);
    background-image: -ms-linear-gradient(bottom, #eae3d9 60%, #FFFFFF 40%);
}


