.alert-danger{
	/* background-color: #ff0000;  */
	border-color: #ff0000;
	color: #0000000
}
.alert-danger hr{border-top-color: #e43725}


.navbar-default a{
	border-color: white;
	color: #000000 !important}

.btn-info{
	color: #ffffff;
    background-color: #00bfff;
    border-color: #ffffff;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: bold;
	color: #ffffff	;
}

.alert {
    padding: 5px;
    margin-bottom: 5px;
}

h1 { font-size: 22px;}
h2 { font-size: 20px;}
h3 { font-size: 18px;}
h4 { font-size: 16px;}
h5 { font-size: 12px;}
h6 { font-size: 10px;}


 nav.navbar.navbar-default.nav ul li: child a
 {
 	 
 	 border-top-style:none;
 	 border-top-color:none;
 	 border-right-style:none;
 	 border-right-color:none;
 	 border-bottom-style:none;
 	 border-bottom-color:none;
 	 border-left-style:solid;

 	 border-left-color:none;
 	 font-weight: none;
 	 
 }
#cloudagent.in.callButton
{
	margin-top: 7px;
}