.alert-danger{
	background-color: #ff0000;
	border-color: #ff0000;
	color: #ffffff
}
.alert-danger hr{border-top-color: #e43725}


.navbar-default a{
	border-color: transparent;
	color: #ffffff !important}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: bold;
}

.alert {
    padding: 10px;
    margin-bottom: 5px;
}

