/***slider**/
.box {
	
	height:300px;
	background-color:#112F6B;
	margin:40px auto;
  
}
.effect1
{
  	 box-shadow:5px 5px 5px  grey;
        }
 /**feature1**/       
        
.feature {
	padding:15px;
}

.text-center i {
	font-size:40px;
	margin-top:70px;
	margin-bottom:30px;
	color:#fff;
	padding:30px;
	background-color: lightgreen;
	border-radius:50%;
}

.text-center h2 {
	margin-top:20px;
	text-transform:uppercase;
	font-size:18px;
	color:black;
    font-weight: bold;
}
.text-center h3{
    font-weight: bold;
}

.hi-icon-effect i.fa:hover {
	background:#fff;
	color:lightgreen;
	-webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

/**slideshare**/
/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: 0px;
}
#quote-carousel .carousel-control.right {
    right: 0px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
   .demoblock {

            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgba(255, 147, 30, 0.93) 0%, rgba(255, 147, 30, 0.92) 100%),
            url(../assets/images/news-letter-bg.jpg)no-repeat;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding-top: 40px;
            padding-bottom: 40px;


        }

        .sectionheading:before {
            content: url(../assets/images/tick-inside-circle.png);
            position: relative;
            right: 0;
            left: 0;
            display: inline-block;
            float: inherit;
            text-align: center;
            

        }

        .btn.theme-btn {
            border: 2px solid #fff;
            background-color: #EB881C;
            color: white;
        }

        .btn.theme-btn:hover {
            border: 2px solid #fff;
        }

       .feature-list h4 {
            color: orange;
        }

        .feature-list li:before {
            content: ' \003E';
            margin-right: 10px;
            color: orange;
            font-weight: bold;
        }

div#photo_container{
    max-width:25em;
    height:auto;
    position:fixed;
    margin:1.563em auto;
    margin-left: 90%;
}

div#photo_container a{
    text-decoration:none;
    color:black;
    cursor:default;
    font-weight:normal;
}

div#photo_container a span{
    visibility:hidden;
    position:absolute;
    right:5em;
    top:-2.3em;
    background:orange;
    width:18em;
    border:1px solid white;
    padding:0.3em;
    cursor:default;
    line-height:2.5;
    color: white;
    font-size:16px;

    margin-left: 30px;
}

div#photo_container a:hover span{
    visibility:visible;
}

