html, body, .container, .content-wrap{height: 100%}.section-hero{position: relative;overflow: hidden;background: rgba(0, 0, 0, 0) url("../images/bg-fr.html") no-repeat fixed;-webkit-transform: translateY(100%);-ms-transform: translateY(100%);transform: translateY(100%)}