
@font-face {
    font-family:Sinkin-Sans-extra-thin;
	src: url(../assets/font/sinkin-sans-light.otf);
}
@font-face {
    font-family:Sinkin-Sans-thin;
	src: url(../assets/font/sinkin-sans3-light.otf);
}
@font-face {
    font-family:Sinkin-Sans-regular;
    src: url(../assets/font/sinkin-sans-regular.otf);
}
@font-face {
    font-family:Sinkin-Sans-medium;
	src: url(../assets/font/sinkin-sans-medium.otf);
}
@font-face {
    font-family:Sinkin-Sans-semibold;
	src: url(../assets/font/sinkin-sans-semibold.otf);
}

@font-face {
    font-family:Myriad-Regular;
	src: url(../assets/font/MyriadPro-Regular.otf);
}
html {
	font-size: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	overflow-X: hidden;
	padding-top: 116px;
}
.sec{
	padding:50px 0;
	}
::-moz-selection {
 background:#f78c2c;
 color: #fff;
}
::selection {
	background:#f78c2c;
	color: #fff;
}
h1, h2, h3, h4 {
  line-height: 1.2em;
  text-transform:capitalize;
}

.solution h2,.calling h2,.cloud-box h2,.award h2,section.brand h2,.testimonial-section h2 {
	font-size:1.500em;
	font-family:Sinkin-Sans-regular;
	color:#333;

}

.section-title{
    margin-bottom: 40px;
    padding-bottom: 18px;
    position: relative;
}
.section-title::before {
	position: absolute;
    content: '';
    left: 0px;
    bottom: 0;
    height: 2px;
    right: 40px;
    width: 40px;
    margin: auto;
    background:#1f2880;
}
.section-title::after{
	    position: absolute;
    content: '';
    left: 40px;
    bottom: 0;
    height: 2px;
    right: 0;
    width: 40px;
    margin: auto;
    background: #fbae3e;

	}
a:hover,a:focus,a:active{
	text-decoration:none;
	}
.themebtn{
    background: #fd911e;
    padding: 10px 26px;
    display: inline-block;
	color:#fff;
	border-radius:5px;
	text-transform:capitalize;
	display:inline-block;
	transition:0.3s all;
	font-family: 'Rubik', sans-serif;
	}
.themebtn:hover,.themebtn:focus,.themebtn:active{
	 background: #e87d0b;
	 color:#fff;
	}
.themebtn span{
	display:block;
	}
.i-social i{
	color: #d3d3d3;
	padding:0;
	}
.i-social {
    margin: 0;
	font-size:18px;
}

.i-social li {
    display: inline-block;
}

.i-social li a {
    height: 36px;
    width: 36px;
    /* -webkit-border-radius: 50%; */
    -moz-border-radius: 50%;
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease-in-out;


    /* background: #fff; */
    /* border: 2px solid #fff; */
}

.i-social li:hover a {
    color: #fff;
}

li.f:hover a {
    background: #3b5998;
}

li.t:hover a {
    background: #55acee;
}
li.e:hover a{
	background: red;
	}
li.g:hover a {
    background: #dd4b39;
}

li.y:hover a {
    background: #bb0000;
}

li.l:hover a {
    background: #007bb5;
}

li.i:hover a {
    background: #125688;
}

li.p:hover a {
    background: #D50C22;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

.site-header ,.banner-section ,section.solution,section.calling,.cloud-section,.testimonial-section,footer.sec,section.award,section.leader{
	float:left;
    width:100%;
}


.site-header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
	z-index: 99;
}

.nav-top{
	position:relative;
	background: #f5f5f5;
	display: inline-block;
	padding: 14px 0;
	margin-right: 30px;
	height:49px;
	}
.nav-top::before,.nav-top::after{
    content: "";
    position: absolute;
    top: 0px;
    height: 50px;
    width: 30px;

	}
.nav-top::before{
	background:url("../images/n-left.png") no-repeat;
	left:-23px;
	}
.nav-top::after{
	background:url("../images/n-right.png") no-repeat;
	}
.nav-top li {
    display: inline-block;

}
.nav-top li a {
    font-size: 14px;
	border-left:2px solid #333;
    line-height: 1;
    display: block;
    font-weight: 600;
	color: #333;
}
.nav-top li:first-child a{
	border-left:none;
	}
.nav-top li + li a {
    padding-left: 20px;
}
.nav-top li + li {
    margin-left: 20px;
}
.navbar{
	margin-bottom:0;

}

.navbar-default {
    background:#fff;
    border: none !important;
	border-radius: 0;
}
.site-header .navbar-brand {
    height: auto !important;
    padding: 30px 15px;

}
.navbar-brand > img{
	width:250px;
	}
.navbar-nav {
    float: right !important;
	    margin: 13px 0;
}
.navbar-default .navbar-nav > li{
    margin-left:30px;
	float:left;
}

.navbar-default .navbar-nav > li > a {
    transition: 0.3s all ease-in-out;
    color: #666666;
    border: 0;
    font-size: 15px;
    box-shadow: none ;
    text-shadow: none ;
    background: none ;
       padding: 6px 0px;
    text-transform:capitalize;
    position: relative;
		font-family: 'Rubik', sans-serif;
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav > li > a:active {
    color: #fd911e;
}

.navbar-default .navbar-nav > li:last-child ,.cts1 .navbar-default .navbar-nav > li:last-child{
    background: #fd911e;
    border-radius: 4px;
    margin-right: 0;
	transition:0.3s all;
}
.navbar-default .navbar-nav > li:last-child:hover {
    background: #e87d0b;
}
.multi-column-dropdown li a,.navbar-nav > li > .dropdown-menu li a{
	color: #666666;
	}

.navbar-default .navbar-nav > li:last-child a {
    color: #fff !important;
    padding: 10px 20px;
}


.dropdown-menu li:last-child {
    border-bottom: none;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,.multi-column-dropdown li a:hover{
	background: #fd911e;
	color:#fff!important;
	}

.navbar-nav > li > .dropdown-menu {
	 padding:0;
	   margin:0;

	}
.multi-column-dropdown{
	padding:0; padding-top:10px;
	}
	.dropdown-menu li a{
		padding:5px; font-size:14px;
		font-family: 'Rubik', sans-serif;
		}
.dropdown-menu h2{
	padding-left:20px;
	}
.banner-section {
	position:relative;
	}
.banner-section .carousel-caption .container {
    position: relative;
    z-index: 2;
}
.carousel {
    overflow: hidden;
}
.carousel-inner{z-index:5}
.banner-section .carousel-caption {
	left:0;
	right:0;
	bottom:0;
	top: 0;
	text-align: left;
	    padding-top: 7%;
	text-shadow: none;
}
.banner-section .carousel-caption h1{
	color:#222222;
	font-size:38px;
	text-transform:capitalize;
	 font-family:Sinkin-Sans-regular;
	}
.banner-section .carousel-caption span{
    display: block;
    font-size: 26px;
    font-weight: 300;
	font-family:Sinkin-Sans-extra-thin;
	}
.banner-section .carousel-caption .themebtn{
	color:#fff;
	line-height:20px;
	font-size:1em;
	position:relative;
	padding: 5px 20px 5px 40px;
	text-transform:none;

	}
.banner-section .carousel-caption .themebtn span{
	color:#fff;
	font-size:1em;


	}
.banner-section .carousel-caption .themebtn::before{
	background:url("../images/b-arow.png") no-repeat;
	content:"";
	position:absolute;
	left:10px;
	top:12px;
	height:29px;
	width:27px;

	}

.carousel-indicators{
	display:none;
	}
.carousel .glyphicon {
        background: #fd911e;
    height: 62px;
    opacity: 1;
    padding: 0px;
    position: absolute;
    text-shadow: none;
    top: 15px;
    width: 62px;
	border-radius:100px;
	color: rgb(221, 221, 221);
	display:flex;
	justify-content:center;
	align-items:center;
}
.carousel-control.left .glyphicon-chevron-left {
    transform: rotate(180deg);
}
.glyphicon-chevron-left::before {
    content: "";
}
.glyphicon-chevron-right::before {
    content: "";
}
.carousel-control {
    opacity: 1;
    width: auto;
    left: 0px;
    top: 14%;
    z-index: 10;
}
.glyphicon-chevron-right,
.glyphicon-chevron-left {
    transition: 0.4s all ease-in-out;
}
.carousel-control.left .glyphicon-chevron-left {
    left: -85px;
}
.carousel:hover .carousel-control.left .glyphicon-chevron-left {
    left: 22px;
}
.carousel-control.right .glyphicon-chevron-right {
    right: -85px;
    left: auto;
}
.carousel:hover .carousel-control.right .glyphicon-chevron-right {
    right: 22px;
}

.glyphicon-chevron-left:before,.glyphicon-chevron-right:before{
	content: "\f105";
	font-family:fontawesome;
    height: 31px;
    width: 6px;
}



.seo-counter {
   z-index:6;
    background: #fff;

    box-shadow: 0 3px 11px rgba(0, 0, 0, 0.12);
    width: 85%;
    margin: -67px auto 0;
    position: relative;

}
.seo-counter .main-content {
    position: relative;
    z-index: 1;
    padding-bottom: 0px;
}
.seo-counter .single-box {
    height: 130px;
    display: flex;

    align-items: center;
}

.seo-counter .single-box .number {
    font-size: 47px;
    color: #fd911e;
    display: inline-block;
}
.seo-counter .single-box p {

    font-size: 17px;
    color: #000;
    display: inline-block;
    text-transform: uppercase;
    line-height: 21px;
    margin-bottom: 0;
    margin-top: 10px;
	    margin-left: 5px;
}


#chatDiv{
	z-index:9;
	}

/*  solution start here   */

.solution > ul{
	text-align:center;
	}
.solution  ul li{
    display: inline-flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    min-height: 242px;
	vertical-align: top;
	position:relative;
	padding: 40px 59px;
	transition:0.3s all;

	}

.solution ul li + li{
    margin-left: 20px;
}
.solution  ul li h3{
	font-size:20px;
	}
.solution  ul li h3,.solution  ul li p{
	 font-family:Sinkin-Sans-thin;
	}
.solution  ul li p{
	color:#777;
	    font-size: 14px;
	}
.solution ul li:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.solution  ul li .themebtn{
	position:relative;
	bottom:-60px;
	margin:auto;

	}

/*  solution end here   */

/*  calling start here   */
.calling h2{
	text-transform:none;
	}
.c-box {
    position: relative;
	transition:0.3s all;
	border: 1px solid #ddd;
	  margin-bottom: 30px;
}
.c-box:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.c-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.75);
	    height: 60px;
}
.c-text h4 {
    width: 70%;
    float: left;
    font-family:Sinkin-Sans-thin;
    text-align: left;
    padding: 10px 0px 10px 60px;
    color: #222;
	font-size:1em;
}
.c-in,.c-out{
	position:relative;
	}
.c-in::before,.c-out::before{
    content: "";
    position: absolute;
    left: 20px;
    top: 10px;
    height: 24px;
    width: 27px;
	}
.c-in::before{
	background:url("../images/c-in.png") no-repeat;
	}
.c-out::before{
	background:url("../images/c-out.png") no-repeat;
	}
.c-text .themebtn{
  position:relative;
    float: right;
    background: #fff;
    color: #333;
    border-radius: 0;
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    height: 100%;
        padding: 19px 0px 19px 20px;
    width: 30%;
	transition: 0.3s all;
	}
.c-box:hover .themebtn{
    background: #fd911e;
    color: #fff;
	}

.c-box:hover .f-arr{
	filter: brightness(0) invert(1);
	}


/*  calling end here   */



/*  cloud start here   */
.cloud-section{
	text-align:left;
	background:url(../images/cloud.jpg) no-repeat center right / 79% auto;
	position:relative;
	}
.cloud-section::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	background: rgba(248,248,248,1);
background: -moz-linear-gradient(left, rgba(248,248,248,1) 39%, rgba(248,248,248,0.93) 100%);
background: -webkit-gradient(left top, right top, color-stop(39%, rgba(248,248,248,1)), color-stop(100%, rgba(248,248,248,0.93)));
background: -webkit-linear-gradient(left, rgba(248,248,248,1) 39%, rgba(248,248,248,0.93) 100%);
background: -o-linear-gradient(left, rgba(248,248,248,1) 39%, rgba(248,248,248,0.93) 100%);
background: -ms-linear-gradient(left, rgba(248,248,248,1) 39%, rgba(248,248,248,0.93) 100%);
background: linear-gradient(to right, rgba(248,248,248,1) 39%, rgba(248,248,248,0.93) 100%);
filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f8f8f8', GradientType=1 )";
		}
.cloud-box h2 {
    text-transform: none;


}
.cloud-point {
    margin-top: 36px;
}
.cloud-point li{
    position: relative;
    padding-left: 24px;
    margin-bottom: 17px;
	font-family:Sinkin-Sans-extra-thin;
	color: #777;
	}
.cloud-point li::before{
    position: absolute;
    left: 0;
    content: "";
    background: url(../images/correct.png) no-repeat;
    height: 11px;
    width: 14px;
    top: 8px;
	}

/*  cloud end here   */


/*  award start here   */
.award{
	background: url(../images/winner.jpg) no-repeat top right / 30% auto;
	position:relative;
	}
.award::before{
	 position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	background: rgba(255,255,255,0.97);
background: -moz-linear-gradient(left, rgba(255,255,255,0.97) 68%, rgba(255,255,255,0.93) 99%, rgba(248,248,248,0.93) 100%);
background: -webkit-gradient(left top, right top, color-stop(68%, rgba(255,255,255,0.97)), color-stop(99%, rgba(255,255,255,0.93)), color-stop(100%, rgba(248,248,248,0.93)));
background: -webkit-linear-gradient(left, rgba(255,255,255,0.97) 68%, rgba(255,255,255,0.93) 99%, rgba(248,248,248,0.93) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,0.97) 68%, rgba(255,255,255,0.93) 99%, rgba(248,248,248,0.93) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,0.97) 68%, rgba(255,255,255,0.93) 99%, rgba(248,248,248,0.93) 100%);
background: linear-gradient(to right, rgba(255,255,255,0.97) 68%, rgba(255,255,255,0.93) 99%, rgba(248,248,248,0.93) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8', GradientType=1 );
	}

.award > div > div > div + div{
	position:relative;
	}
.award > div > div > div + div:before{
	 position: absolute;
    left: 0;
    content: "";
    background: url(../images/win-border.png) no-repeat;
    height: 148px;
    width: 2px;
    top: 8px;
	}
.award h4 {
    margin-top: 28px;
	font-size:1em;
	font-family:Sinkin-Sans-thin;
	color: #333;
}

/*  award end here   */

/*  leader start here   */

.leader{

	    padding: 0;
		position:relative;
	}
.leader::before{
	background:#fff;
	}

.leader .item{
	position:relative;
	}
.leader h2{
	color: #fff;
    text-align: center;
    font-size: 24px;
    font-family: Sinkin-Sans-regular;
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    z-index: 2;
	}


.leader-text {
    padding-top: 463px;
    padding-bottom: 20px;
    margin: 0 auto;
    max-width: 811px;
    text-align: center;
}
.leader-text *{
	color:#fff;
	}
.leader-text h5{
	color:#fd911e;
	 font-family:Sinkin-Sans-medium;
	 text-transform:uppercase;
	}
.leader-text p{
	 font-family:Sinkin-Sans-thin;
	 font-size:14px;
	}
.leader ul {
       width: 860px;
    margin: 0 auto;
}
.leader-text ul li{
	text-align:left;
    padding-left: 25px;
	position:relative;
	 font-family:Sinkin-Sans-thin;
	 font-size: 14px;
	 margin-bottom:10px;

	}
.leader-text ul li::before{

    position: absolute;
    left: 0;
    content: "";
    background: url(../images/l-arow.png) no-repeat;
    height: 12px;
    width: 14px;
    top: 6px;
	}
.leader .owl-theme .owl-nav [class*='owl-']{
    background: none;
    font-size: 40px;
	}
.leader .owl-theme .owl-nav .owl-prev {
    left: 177px;
    position: absolute;
}
.leader .owl-theme .owl-nav .owl-next {
    right: 177px;
    position: absolute;
}
.leader .owl-theme .owl-nav {
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 50%;
    right: 0;
}
.owl-carousel .owl-item {
    width: 1920px;
}
/*  leader end here   */



/* brand start here   */

.bgimage2,#case-study{
	    background-repeat: no-repeat;
	}
.brnd {
    margin-bottom: 0;
    color:#333;
}

.bgimage2 .ff-container label{
	margin-right:3px;
	text-align:center;
	}


#client .ff-container {
    text-align: center;
}

section.brand ul li {
    display: inline-flex;
    height: 100px;
    width: 200px;
       padding: 5px;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
	transition:0.3s all;
	border: 1px solid #fff;
}
section.brand ul li:hover{
    -webkit-filter: none;
    filter: none;
	 border-color: #ddd;
	}

section.brand .themebtn {
    margin-top: 65px;
}


.brand .owl-theme .owl-dots .owl-dot.active span, .brand .owl-theme .owl-dots .owl-dot:hover span {
    background: #fd911e;
}
/* brand end here   */




/*testimonial  start here   */
.testimonial-section{
	position:relative;
	 font-family:Sinkin-Sans-thin;

	}

.testimonial-section .owl-theme .owl-dots {
    border-top: 1px solid #ddd;
}
.testimonial-section .owl-theme .owl-dots .owl-dot span{
    height: 90px;
    width: 150px;
   background: rgba(255, 255, 255, 0.56);
    border-radius: 0;
    margin: 0;
	}
.testimonial-section .owl-theme .owl-dots .owl-dot {
    margin-left: 28px;
}
.testimonial-section .owl-theme .owl-dots .owl-dot.active span, .testimonial-section .owl-theme .owl-dots .owl-dot:hover span{
	border-top:2px solid #fd911e;
	background: none;
	}
.testimonial-section p{
	color:#777;
    font-size: 13px;
    padding: 8px 57px;
	}
.testimonial-section ul {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.testimonial-section ul li{
    display: inline-block;
    margin: 9px 11px;
    width: 150px;
    padding-top: 0px;
    height: 58px;
	}

/*testimonial  end here   */


/*footer  start here   */
footer.sec {
    background: #222;
    padding-bottom: 0;
}
footer p{
	color:#d3d3d3;
	    margin-right: 50px;
	}
footer .logo-box .txt-clr{
	margin-top:34px;
	color:#fd911e;
	font-family:Sinkin-Sans-thin;
	font-size:13px;

	}


p.f-market {
    /* padding-right: 50px; */
    border-bottom: 2px dotted #949494;
    padding-bottom: 20px;
    margin-bottom: 20px;
	font-size:13px;
	font-family:Sinkin-Sans-thin;
}
p.follow {
    font-size: 18px;
    color: #fd911e;
}

footer .i-social i {
    font-size: 20px;
}
footer h5 {
    color: #fd911e;
	font-family:Sinkin-Sans-thin;
	font-size:18px;
}
footer ul > li > a,footer a{
	font-family:Sinkin-Sans-thin;
     color:#d3d3d3;
	 font-size:13px;
	}
footer ul > li > a:hover,footer a:hover{
	color:#fd911e;
	}
.footer-menu-r ul{
	margin-bottom:30px;
	}

.f-info {
    background: #2b2b2b;
    color: #fff;
    font-size: 13px;
    padding: 15px 0;
	    margin-top: 20px;
}
footer p span {
    margin-right: 15px;
}
/*footer  end here   */

/* inner pages   */
body.signup-body{
	    padding-top: 75px;
	}
.bg-signup {

    background: url(../images/Background.png) no-repeat 0 0;
    margin-bottom: 50px;
    color: #fff;
    padding: 69px 0 31px;
    background-position: right;
    background-color: #f6e5cd;

}
.bg-brsignup {

   background: url(../images/stockBroke_signup.png) no-repeat 0 0;
       margin-bottom: 50px;
    color: #fff;
    padding: 60px 0 0;
    background-position: center;

}
.browser-based-contac {	
    height: 30px;	
    width: 100%;	
    color: #4A4A4A;	
    font-family: "Open Sans";	
    font-size: 14px;	
    line-height: 15px;
  
    margin-top:15px;
      /*
    margin-left: 247px;
    */
    text-align: left;
}
.sigup-text {
    background: rgba(255, 147, 30, 0.93);
    padding-bottom: 10px;
    margin-top: -56px;
}
.signup-body .navbar-default .navbar-nav > li:last-child, .sgn_call .navbar-default .navbar-nav > li:last-child{
	background:none;
	padding:0;
	}
.signup-body .navbar-brand > img{
	width:200px;
	}
.signup-body .navbar-default .navbar-nav > li, .sgn_call .navbar-default .navbar-nav > li {
    padding: 14px 0;
}
.sigp-logo {
    /*
    height: 66px;
    */
    width: 240px;
    margin-left:-11px;
    margin-top:36px}
.signup-body .navbar-header .navbar-brand {
    padding: 23px 15px;
}

.soft-cloud {
    background: url(../images/cloud-software.jpg) no-repeat 0 0;
	background-position: center;
	}
section.soft-bg{
    background-color: rgba(253, 145, 30, 0.91);
    padding: 1.2em 0;
	    margin-top: -148px;

}

section.soft-bg > div > div + div {
    border-left: 1px solid #fff;
}
section.soft-bg a{
	font-size:26px;
	}
.soft-bg img {
    width: 206px;
    height: auto;
}
.soft-cloud h1{
	color:#333;
	}
.soft-cloud h1 span{
     display: block;
    color: #ff931e;
    font-weight: 700;
    font-size: 60px;
    margin: 20px 0;
	}
.dropdown-menu.columns-3 {
		min-width:470px;
    left: auto;
}

.bg-agent-cloud {
    padding: 169px 0 300px;
}
.crm-int p{
	font-size:15px;
	}
ul.sl_1011 li{    padding: 20px 16px !important;}
.solution_blk mrb-25{
	witdh:100%;
	}
.w3-section{
	margin :0
    width 100%
	}


/*JUmbotron size of larger desktop  screen*/
@media (min-width:1200px) {

}

/*this part is only for common layouts in desktop and tablets-landscape*/
@media (min-width:992px) {

}

/*this part is only for common layouts in mobile and tablets*/
@media (max-width: 991px) {
.carousel-control,.banner-section .carousel-caption img,.c-text .themebtn{
	display:none
	}
.carousel-indicators{
	display:block;
	bottom: 0;
	}

.carousel-indicators li {
    border: 1px solid #fd911e;
	}
.carousel-indicators .active{
	background-color:#fd911e;
	}
.seo-counter,.c-text h4{
	margin:0;
	width:100%;
	}
.leader .item{
	    background-size: contain!important;
	}

}

/*For mobile devices*/
@media (max-width: 767px) {
body{
	padding-top:98px;
	}

.top-contact{
	background: #fd911e;
	padding: 8px 0;
	    text-align: center;
}
.top-contact ul li {
    display: inline-block;
}
.top-contact ul li a {
    color:#fff;
	font-size:14px;

}
.navbar{
	    padding: 0px 0 0;
	}
.site-header .navbar-brand{
	padding:10px 0;
	}

.navbar-default .navbar-nav > li {
    margin-left: 0px;
    text-align: left;
    width: 100%;
    padding: 10px 0;
	border-bottom: 1px solid #fd911e;

}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color:#666;
	}
.navbar-collapse{
	padding-left:0;
	padding-right:0;
	}
.caret{
	float:right;
	margin-top: 10px;
	}
.banner-section .carousel-caption .themebtn,.nav-top{
	display:none;
	}
.carousel-inner .item img{
	min-height:auto;
	}
.navbar-brand > img {
    width: 180px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background:#fff;
	}
.navbar-default .navbar-toggle{
	margin-right:0;
	}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #002060;
}
.navbar-default .navbar-nav > li:last-child, .cts1 .navbar-default .navbar-nav > li:last-child{
	background:none;
	    border-radius: 0;
	}
.navbar-default .navbar-nav > li:last-child a{
	color:#666!important;
	}
.navbar-nav {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 300px;
}
.multi-column-dropdown > div{
	text-align:left !important;
	}
.sub-menu-part {
    padding: 0;
}
.banner-section .carousel-caption h1{
	font-size:20px;
	}

.seo-counter .single-box {
    display: block;
    text-align: center;
}
.seo-counter .single-box .number{
    font-size: 30px;
    color: #fd911e;
    display:block;
	}
.solution  ul li{
	width:100%;
	margin-bottom:50px;
	}
.solution ul li + li{
	margin:0;
	}
.c-text{
	height:38px;
	}
.c-text h4{
	font-size:11px;
	padding: 14px 0px 10px 60px;
	}
.testimonial-section p{
	padding:0;
	}
.leader ul{
	display:none;
	}
.leader h2{
	color:#333;
	}
.leader-text {
    padding-top: 268px;
	}


.leader-text h5{
	font-size:14px;
	}
.leader-text p{
	font-size:11px;
	color:#333;
	}
.brnd{
	margin-bottom:50px;
	}
.award > div > div > div {
	margin-bottom:50px;
	}
.award > div > div > div + div:before{
	display:none;
	}

.testimonial-section .owl-theme .owl-dots .owl-dot span {
    width: 140px;
}
.testimonial-section .owl-theme .owl-dots .owl-dot.active span, .testimonial-section .owl-theme .owl-dots .owl-dot:hover span{
	border:none;
	}
.testimonial-section ul {
   bottom: 28px;
}

.soft-cloud {
    background-size: cover !important;
    padding: 135px 0 !important;
}
.soft-cloud h1{
	font-size:25px !important;
	}
.soft-cloud h1 span{
	font-size:40px;
	}
.soft-bg{
        padding-bottom: 20px;
	}
section.soft-bg a {
    font-size: 18px;
}
.calling{
	    padding: 20px 0 30px;
	}
body.signup-body  .navbar{
	    min-height: 84px !important;
	}

body.signup-body .bg-signup img{
	width:300px;
	}

    
}

/*For landscape view in mobile*/
@media (min-width:480px) and (max-width: 767px) and (orientation:landscape) {

.c-box {
    width: 500px;
    margin: 0 auto 21px;
}
.leader-text {
    padding-top: 332px;
}

.testimonial-section ul {
    bottom: 25px;
}

}
/*Mobile devices ends here*/


/*Tablet devices starts here (Portrait view)*/
@media (min-width:768px) and (max-width: 991px) {
.site-header .navbar-brand {
    padding: 8px 15px;
}
.navbar-nav {
    margin-bottom: 10px;
}
.nav > li > a {
    padding: 7px 10px !important;
}
.seo-counter{
	width:100%;
	    margin:0;
	}
.seo-counter .single-box .number {
    font-size: 26px;
}
.seo-counter .single-box p{
	font-size:13px;
	    line-height: 13px;
	}
.c-text{
	font-size:14px;
	}
.cloud-section{
	background-image:none !important;
	}
.cloud-section img {
    margin-top: 110px;
}
.award > div > div > div img {
    width: 150px;
}
.leader {
    background-color: #525250;
}
.leader-text {
    padding-top: 371px;
	}
.leader ul {
    width: 689px;
    margin: 0px auto;
}
.leader-text ul li {
    font-size: 11px;

}
.ff-items li {
    width: 177px;
	}
.logo-box p a{
	font-size:11px;
	}

}

/*Tablet devices ends here*/

/*Tablet devices starts here (landscape view)*/

@media (min-width:992px) and (max-width: 1199px)  {
.carousel .glyphicon {
    height: 35px;
    width: 34px;
}
.seo-counter{
	width:100%;
	}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -70px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -70px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{
	    margin-top: -70px;
	}
.solution ul li {
    padding: 40px 50px;
}
.c-text{
	    height: 52px;
 }
.c-text .themebtn img{
	display:none;
	}
.c-text h4{
	font-size:14px;
	}
}


.sign-up-for-a-free-d {	
    height: 27px;	
    width: 232px;	
    color: #4A4A4A;	
    font-family: "Open Sans";	
    font-size: 20px;	
    font-weight: bold;	
    line-height: 27px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 29px
}

.rectangle-4 {border-radius:10px !important;height: 850px;margin-bottom: 1px}
.cti-integrations-wit {	height: 26px;	width: 484px;	color: #4A4A4A;	font-family: "Open Sans";	font-size: 19px;	font-weight: 600;	line-height: 26px;margin-bottom: 22px}

.omni-channel-experie {	height: 26px;	width: 265px;	color: #4A4A4A;	font-family: "Open Sans";	font-size: 19px;	font-weight: 600;	line-height: 26px;float: left;
margin-left: 29px;margin-bottom: 19px; margin-top: 20px;}

.group-7 {	height: 84px;	}
.cr-ms {	height: 185px;margin-top: 22px}
.line {	box-sizing: border-box;	height: 1px;border: 1px solid #979797;	opacity: 0.36;}
.rectangle-2-copy-9 {	height: 44px;	width: 240px;	border-radius: 5px;	background-color: #F4F4F4;}
.are-you-currently-on {	height: 15px;	width: 207px;	color: #4A4A4A;	font-family: "Open Sans";	font-size: 11px;	font-weight: bold;	line-height: 15px;float:right;margin-bottom: 45px;}
.yes {	height: 15px;	width: 20px;	color: #4A4A4A;	font-family: "Open Sans";	font-size: 11px;	font-weight: bold;	line-height: 15px;}
.round_chk {	height: 30px;	width: 30px;	border-radius: 15px;	background-color: #F4F4F4; float: right;}
.your-data-is-safe-wi {	height: 19px;color: #000000;	font-family: "Open Sans";	font-size: 14px;	line-height: 22px;}
.trusted-by-1000-cus {	height: 33px;	color: #4A4A4A;	font-family: "Open Sans";	font-size: 24px;	font-weight: bold;	line-height: 33px;	text-align: center;}
.our-awesome-support {	height: 52px;	color: #4A4A4A;	font-family: "Open Sans";	font-size: 19px;	font-weight: 600;	line-height: 26px;text-transform: capitalize;}
.i-cannot-say-enough {	height: 54px;	color: #4A4A4A;	font-family: "Times New Roman";	font-size: 25px;	font-style: italic;	line-height: 28px;	text-align: center;}
.nancy-kerr-trilogy {	height: 54px;color: #4A4A4A;	font-family: "Open Sans";	font-size: 20px;	font-weight: bold;	line-height: 27px;	text-align: center;}
.why-ozonetel {	height: 33px;		color: #4A4A4A;	font-family: "Open Sans";	font-size: 24px;	font-weight: bold;	line-height: 33px;	text-align: center;}
.circle-3 {	height: 160px;	width: 160px;	border-radius: 90px;	background-color: #FFF2DC;display: table;}
.circle-3 span {
    vertical-align: middle;
}
.text_circle {	height: 74px;		color: #4A4A4A;	font-family: "Open Sans";	font-size: 54px;	font-weight: bold;	line-height: 74px;	text-align: center;}
.orange {	height: 24px;	color: #FF781E;	font-family: "Open Sans";	font-size: 18px;	font-weight: bold;	line-height: 24px;	text-align: center;}
.text-below-circle{	height: 44px;	color: #4A4A4A;	font-family: "Open Sans";	font-size: 16px;	font-weight: 600;	line-height: 22px;	float: left;margin-left: 20px;margin-top: 19px;}
