html,
body {
    padding-top: 51px!important
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Open Sans', sans-serif
}

form#WebToLeadForm input:focus,
form#WebToLeadForm input:visited,
form#WebToLeadForm input:hover {
    outline: none
}

a.mbs {
    display: none
}

.navbar-brand {
    height: 51px!important
}

.navbar {
    min-height: 0!important
}

.navbar-header .navbar-brand {
    margin: 0 0
}

.carousel-control {
    font-size: 60px
}

.carousel-caption h3 {
    text-shadow: none;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 5px;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding-bottom: 15px
}

.cmn-bg-slide {
    height: auto;
    background: url(../images/cmn.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;
    width: 100%
}

.pd-l {
    padding-left: 0;
    margin-top: 15px
}

.pd0 {
    padding: 0
}

body.brand .acc-content {
    margin: 15px;
    height: 260px
}

body.brand .front .middlebox {
    height: 260px
}

.border2 {
    height: 2px;
    background-color: red;
    width: 80%;
    margin: 20px auto 10px;
    display: block
}

.border3 {
    height: 2px;
    background-color: red;
    width: 30%;
    margin: 10px auto;
    display: block
}

.back .middlebox i.fa {
    color: #222b82;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 40px;
    margin-bottom: 20px
}

.back .middlebox .glyphicon {
    color: red;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 40px;
    margin-bottom: 20px
}

.front .acc-content .fa {
    font-size: 40px;
    color: #fff
}

.front .middlebox .glyphicon {
    font-size: 40px;
    color: #222b82
}

.container {
    height: 100%
}

.brand-bg {
    height: 400px;
    background: url(../images/brand-bg.html) no-repeat center center;
    color: #fff
}

body.brand .front,
body.solution_page .front {
    background-image: none;
    border: 1px solid red;
    background: #fff
}

body.solution_page .front {
    background-image: none;
    border: none;
    background: #fff
}

body.brand .info {
    color: #000
}

body.brand .text-center.sol {
    margin-top: 30px
}

.menu-wrap {
    background-color: #373a47
}

body.brand #lite-sec .cloud-inr-border {
    min-height: 145px;
    color: #222b82
}

body.brand .sol .accordion-group.odd {
    margin: 1%;
    float: left;
    width: 23%
}

.brand #lite-sec li:last-child {
    margin-right: 0;
    padding-right: 1%
}

body.brand .back,
body.solution_page .back {
    border: 1px solid #f1f1f1;
    background: #fff
}

.brand-sec2 {
    background: url(../images/brand-agents-bg.html) repeat;
    padding: 80px 0
}

#case-study {
    background: url(../images/section-bg.jpg);
    height: auto;
    float: left;
    width: 100%
}

.brand-block {
    min-height: 126px;
    margin-bottom: 50px
}

.brand-sm-txt {
    font-size: 13px;
    margin-top: 5px
}

h3.head-b2 {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    color: #000000;
    text-align: left;
    top: 10px;
    margin-top: -10px;
}

h4.head-b1 {
    font-size: 25px;
    margin: 0;
    font-weight: lighter;
    line-height: 35px;
    text-transform: uppercase
}

.subh h4.head-b1 {
    font-size: 18px;
    margin: 18px 0 0;
    font-weight: lighter;
    line-height: 35px;
    text-transform: none
}

h4.head-b3 {
    font-size: 30px;
    margin: 60px 0 30px;
    line-height: 35px;
    color: #fff
}

.brand-sec1 h4.head-b1,
.brand-sec3 h4.head-b1 {
    color: #5a5a5a;
    margin: 60px 0;
    text-transform: uppercase
}

.cloud-sec1 h4.head-b1,
.why-cloud h4.head-b1 {
    color: #5a5a5a;
    margin: 40px 0;
    text-transform: uppercase
}

.mid-bg {
    display: table;
    width: 100%;
    height: 100%
}


.mid {
    display: table-cell;
    vertical-align: middle
}

.brand-txt {
    font-size: 14px;
    line-height: 26px;
    margin-left: 15px
}

.brand-sec2-p {
    border: 5px solid #fff;
    font-size: 25px;
    color: #fff;
    padding: 50px 100px;
    font-weight: lighter;
    text-align: left;
    margin: 0
}

.count {
    float: left;
    font-size: 100px;
    margin-right: 15px;
    color: #fff
}

.count2 .count-details {
    margin-top: 40px
}

.count-details {
    float: left;
    font-size: 15px;
    color: #fff;
    text-align: left;
    margin-top: 34px
}

.case {
    background-color: #f4f4f4;
    min-height: 210px
}

.case .mid img {
    margin: 0 auto
}

.brand-sec3-block1 {
    float: left;
    width: 100%
}

.brand-sec3-block2 .inner-case2 {
    float: left;
    width: 100%;
    background: url(../images/case-study.html) no-repeat;
    margin-top: 30px;
    background-color: #38516f
}

.border {
    border: 6px solid #fff;
    margin: 30px;
    color: #f4f4f4;
    font-size: 18px;
    line-height: 33px;
    font-weight: lighter;
    padding: 30px
}

.brd {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 6px
}

p.rw1 {
    margin-bottom: 30px
}

.rw3 li:before,
.rw5 li:before {
    content: '\00b7';
    font-size: 30px;
    line-height: 0;
    vertical-align: middle;
    padding-right: 50px
}

.rw3,
.rw5 {
    padding: 0
}

footer {
    background-color: #5a5a5a;
    width: 100%;
    float: left
}

.mr-51 {
    margin-top: -51px
}

footer a {
    color: #f4f4f4;
    font-size: 13px;
    line-height: 25px
}

footer ul {
    margin: 0
}

.ft-inner {
    padding: 20px 0;
    width: 100%;
    float: left
}

ul.ft.four li {
    display: inline-block;
    padding-left: 10px
}

ul.ft.four {
    text-align: right
}

.brand-sec3-block2 {
    margin-bottom: 60px;
    float: left
}

.impact li {
    font-size: 17px;
    margin-bottom: 10px
}

.impact .cloud-block {
    min-height: 0;
    margin-bottom: 35px
}

.cloud-bg-agent {
    background: url(../images/innerbg1.jpg) no-repeat 0 0;
    color: #fff;
    padding: 155px 0 205px 0
}

.sgn-bg-agent {
    background: url(../images/innerbg9.jpg) no-repeat 0 0;
    color: #fff;
    padding: 155px 0 205px 0
}

.brand-bg-agent {
    background: url(../images/innerbg2.jpg) no-repeat center center;
    color: #fff;
    padding: 180px 0
}

.press-bg {
    background: url(../images/innerbg3.jpg) no-repeat 0 0;
    color: #fff;
    padding: 180px 0
}

.career-bg {
    background: url(../images/innerbg4.jpg) no-repeat 0 0;
    color: #fff;
    padding: 180px 0
}

.contactus-bg {
    background: url(../images/innerbg6.jpg) no-repeat 0 0;
    color: #fff;
    padding: 180px 0
}

.solution-bg {
    background: url(../images/innerbg7.jpg) no-repeat 0 0;
    color: #fff;
    padding: 180px 0
}

.awards_section {
    background: url(../LandingPG_images/Layer13.png) no-repeat 0 0;
    color: #fff;
    height: auto;
    padding: 10px 0
}

.solution-bg-land {
    background: url(../LandingPG_images/land1.png) no-repeat 0 0;
    color: #fff;
    height: 530px;
}

.solution-bg-adv {
    background: url(../LandingPG_images/Layer1.png) no-repeat 0 0;
    color: #fff;
    height: 480px;
}

.solution-bg-adv-2 {
    background: url(../images/innerbg10.jpg) no-repeat 0 0;
    color: #fff;
    padding: 180px 0
}

.solution-bg-adv-signup {
    background: url(../LandingPG_images/SingupLayer1.png) no-repeat 0 0;
    color: #fff;
    height: auto;
}

.solution-bg-adv-3 {
    background: url(../images/innerbg11.jpg) no-repeat 0 0;
    color: #fff;
    padding: 180px 0
}

body.cloud .front {
    background-color: #ffe400;
    background-image: none
}

body.cloud .info {
    color: #000
}

section.sb-menu {
    background-color: red;
    padding: 1em 0;
    margin-top: -58px
}

section.sb-menu a {
    color: #fff;
    font-size: 18px;
    text-decoration: none
}

.cloud-sec-inner-block1 {
    padding: 20px;
    border: 1px solid red
}

.solution_blk3 .cloud-sec-inner-block1 {
    min-height: 195px
}

.cloud-sec-inner-block2 {
    border: 1px solid red
}

.cloud-inr-border {
    text-align: center;
    padding: 20px 0;
    color: #222b82
}

.cld-block .cloud-sec-inner-block1:hover .cloud-inr-border,
.cld-block .cloud-inr-border:hover,
.solution_blk3 .cloud-sec-inner-block1:hover .cloud-inr-border,
.solution_blk3 .cloud-inr-border:hover {
    background-color: #fff
}

.cld-block .cloud-sec-inner-block1:hover .glyphicon,
.cld-block .cloud-sec-inner-block1:hover h4,
.solution_blk3 .cloud-sec-inner-block1:hover .glyphicon,
.solution_blk3 .cloud-sec-inner-block1:hover h4 {
    color: red
}

.cloud-inr-border .glyphicon {
    font-size: 25px
}

.cloud-sec2 h4.head-b1 {
    color: #000;
    font-weight: 400
}

.cloud-sec2 {
    background: #f4f4f4;
    padding: 0 0 50px
}

ul#og-grid.cloud li {
    width: 22.5%;
    border: none
}

.og-grid.cloud a:hover {
    text-decoration: none
}

.cloud-sec3-block2 {
    margin-bottom: 60px;
    float: left
}

.cloud-sec3-block2 .inner-case2 {
    margin-top: 30px;
    background-color: #878787;
    padding: 5px 0
}

.cs-close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 99999
}

.cs-close::before,
.cs-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #888;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg)
}

.cs-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.cs-close:hover::before,
.cs-close:hover::after {
    background: #333
}

.cloud-sec1 .gallery-item {
    width: 22%
}

.solution_blk3 .thumbnail,
.cloud-sec1 .thumbnail {
    border: none
}

.solution_blk3 .gallery-expander,
.cloud-sec1 .gallery-expander {
    width: 96%;
    margin: 20px
}

.cloud-sec3-block1 {
    float: left;
    width: 100%
}

.cloud-sec3 h4.head-b1 {
    color: #5a5a5a;
    margin: 40px 0;
    text-transform: uppercase
}

section.cloud-sec3 {
    padding-bottom: 40px;
    float: left;
    width: 100%
}

section.sb-menu a.sl {
    border-bottom: 1px solid #fff;
    padding-bottom: 2px
}

#lite-sec .gallery-item {
    width: 48%
}

ul.lite-lst li {
    font-size: 17px;
    text-align: left;
    line-height: 30px;
    display: flex;
    margin: 0 30px
}

.brandcmn-bg-slide {
    height: auto;
    padding: 0 0 50px;
    position: relative;
    overflow: hidden;
    background: url(../images/cmn2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat
}

.new-ds p {
    font-size: 15px;
    padding: 0 15px;
    text-align: left
}

.cloudcmn .new-ds p {
    padding: 0 10px
}

.new-ds h4 {
    text-transform: uppercase;
    padding: 10px 0;
    color: #fff
}

.new-ds .fa {
    font-size: 40px
}

.cloud-inr-border2 {
    text-align: center;
    color: #545454;
    float: left;
    width: 100%
}

.ftrs {
    text-align: left;
    color: #fff;
    font-size: 18px
}

.ftrs span {
    font-size: 22px
}

p.lite-lst-p {
    text-align: left;
    margin: 0 30px 10px;
    line-height: 30px;
    font-weight: 700;
    font-size: 18px
}

#lite-sec .cloud-inr-border {
    min-height: 230px
}

ul.e li:before {
    content: "- ";
    color: #222b82;
    font-size: 26px;
    margin-right: 10px;
    margin-top: -3px
}

ul.sol_block_ul li:before {
    content: "- ";
    color: #222b82;
    font-size: 26px;
    margin-right: 10px;
    margin-top: -3px
}

ul.sol_block_ul2 li:before {
    content: "•";
    color: #222b82;
    font-size: 26px;
    margin-right: 10px;
    position: relative;
    top: 0
}

.brand-sm-img span.glyphicon,
.brand-sm-img span.fa {
    font-size: 40px;
    color: #222b82
}

.ic2-sec .brand-sm-img span.glyphicon,
.ic2-sec .brand-sm-img span.fa {
    color: red!important
}

.cloud-block {
    min-height: 70px;
    margin-bottom: 5px
}

section.cloud-sec5 .cloud-block {
    min-height: 0;
    margin-bottom: 0
}

.cloud-txt {
    font-size: 18px;
    line-height: 26px;
    margin-left: 15px
}

section.cloud-sec5 {
    float: left;
    width: 100%;
    background-color: #f4f4f4;
    padding: 0 0 50px
}

.quote a {
    color: #000;
    font-weight: 400;
    margin-top: 70px;
    padding: 15px 20px;
    width: auto;
    font-size: 24px;
    display: inline-block;
    background-color: #ffe400
}

.cloud-integration img {
    width: 100%;
    height: auto
}

.cloud-sec-inner-block1:hover {
    border: 1px solid #f1f1f1
}

.cloud-sec-inner-block1:hover .glyphicon,
.cloud-sec-inner-block1:hover h4 {
    color: #fff
}

.red-band {
    background-color: red;
    width: 102.5%;
    color: #fff;
    bottom: 0;
    float: left;
    text-transform: uppercase;
    padding: 40px 0;
    margin-top: 102px;
    font-size: 22px;
    margin-left: -15px;
    font-weight: 500
}

p.casep1 {
    font-size: 15px;
    line-height: 30px;
    margin-top: 20px;
    color: #000
}

h3.case-hdng {
    text-transform: uppercase;
    font-size: 30px;
    color: #000;
    font-weight: 600;
    margin-top: 0
}

.caseimg img {
    width: 85%
}

p.casep2 {
    font-size: 20px;
    color: #000;
    font-weight: 600
}

p.casep3 {
    font-size: 14px;
    color: #000;
    margin-top: 15px;
    padding: 0 15px;
    margin-bottom: 30px
}

p.casep4 {
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px
}

p.casep5 {
    font-size: 70px;
    color: #000;
    text-align: center;
    margin: 30px 0 80px;
    font-weight: 700;
    line-height: 36px
}

span.casep11 {
    color: #618abc
}

span.casep8 {
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: 0
}

span.casep11 {
    color: #618abc
}

span.casep7 {
    font-size: 23px;
    color: #ff8b00;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0 5px;
    display: block
}

span.casep17 {
    font-size: 33px;
    color: #ff8b00;
    font-family: arial;
    position: relative;
    font-weight: 700;
    top: 5px;
    left: -3px
}

.grp {
    width: 100%;
    float: left;
    margin: 0
}

span.casep9 {
    font-size: 16px;
    color: #000
}

span.casep13 {
    color: #95448b!important
}

span.casep14 {
    color: #95448b!important
}

span.casep10,
span.casep11,
span.casep12,
span.casep13,
span.casep15 {
    font-size: 20px;
    font-weight: 600;
    color: #000
}

span.casep16 {
    font-size: 21px;
    font-weight: 600;
    color: #000
}

span.casep15 {
    color: #869b14
}

span.casep11 {
    color: #5681b5;
    padding: 0 5px
}

.career-pg {
    padding: 30px 40px;
    margin: 40px 10px;
    border: 1px solid #f1f1f1
}

.crr-txt {
    font-size: 16px;
    line-height: 28px;
    margin-left: 15px;
    text-align: center
}

p.newslist a:hover,
p.newslist a:focus {
    color: red;
    outline: none
}

.contact .address,
.contact .online-support {
    font-size: 14px;
    line-height: 28px
}

.contact .address {
    margin-top: -3px
}

body.career-page a:hover,
body.career-page a:focus {
    color: red;
    text-decoration: none
}

.bld {
    color: #222b82
}

.mrt-0 {
    margin-top: 0
}

.mrt-10 {
    margin-top: 10px
}

.mrt-15 {
    margin-top: 15px
}

.mrt-20 {
    margin-top: 20px
}

.mrt-25 {
    margin-top: 25px
}

.mrt-30 {
    margin-top: 30px
}

.mrt-35 {
    margin-top: 35px
}

.mrt-40 {
    margin-top: 40px
}

.mrt-45 {
    margin-top: 45px
}

.mrt-50 {
    margin-top: 50px
}

.mrt-55 {
    margin-top: 55px
}

.mrt-60 {
    margin-top: 60px
}

.mrt-65 {
    margin-top: 65px
}

.mrt-70 {
    margin-top: 70px
}

.mrt-75 {
    margin-top: 75px
}

.mrt-80 {
    margin-top: 80px
}

.mrt-85 {
    margin-top: 85px
}

.mrt-90 {
    margin-top: 90px
}

.mrt-95 {
    margin-top: 95px
}

.mrt-100 {
    margin-top: 100px
}

.mrb-0 {
    margin-bottom: 0px
}

.mrb-10 {
    margin-bottom: 10px
}

.mrb-15 {
    margin-bottom: 15px
}

.mrb-20 {
    margin-bottom: 20px
}

.mrb-25 {
    margin-bottom: 25px
}

.mrb-30 {
    margin-bottom: 30px
}

.mrb-35 {
    margin-bottom: 35px
}

.mrb-40 {
    margin-bottom: 40px
}

.mrb-45 {
    margin-bottom: 45px
}

.mrb-50 {
    margin-bottom: 50px
}

.mrb-55 {
    margin-bottom: 55px
}

.mrb-60 {
    margin-bottom: 60px
}

.mrb-65 {
    margin-bottom: 65px
}

.mrb-70 {
    margin-bottom: 70px
}

.mrb-75 {
    margin-bottom: 75px
}

.mrb-80 {
    margin-bottom: 80px
}

.mrb-85 {
    margin-bottom: 85px
}

.mrb-90 {
    margin-bottom: 90px
}

.mrb-95 {
    margin-bottom: 95px
}

.mrb-100 {
    margin-bottom: 100px
}

.mrl-0 {
    margin-left: 0px
}

.mrl-10 {
    margin-left: 10px
}

.mrl-15 {
    margin-left: 15px
}

.mrl-20 {
    margin-left: 20px
}

.mrl-25 {
    margin-left: 25px
}

.mrl-30 {
    margin-left: 30px
}

.mrl-35 {
    margin-left: 35px
}

.mrl-40 {
    margin-left: 40px
}

.mrl-45 {
    margin-left: 45px
}

.mrl-50 {
    margin-left: 50px
}

.mrl-55 {
    margin-left: 55px
}

.mrl-60 {
    margin-left: 60px
}

.mrl-65 {
    margin-left: 65px
}

.mrl-70 {
    margin-left: 70px
}

.mrl-75 {
    margin-left: 75px
}

.mrl-80 {
    margin-left: 80px
}

.mrl-85 {
    margin-left: 85px
}

.mrl-90 {
    margin-left: 90px
}

.mrl-95 {
    margin-left: 95px
}

.mrl-100 {
    margin-left: 100px
}

.mrr-0 {
    margin-right: 10px
}

.mrr-10 {
    margin-right: 10px
}

.mrr-15 {
    margin-right: 15px
}

.mrr-20 {
    margin-right: 20px
}

.mrr-25 {
    margin-right: 25px
}

.mrr-30 {
    margin-right: 30px
}

.mrr-35 {
    margin-right: 35px
}

.mrr-40 {
    margin-right: 40px
}

.mrr-45 {
    margin-right: 45px
}

.mrr-50 {
    margin-right: 50px
}

.mrr-55 {
    margin-right: 55px
}

.mrr-60 {
    margin-right: 60px
}

.mrr-65 {
    margin-right: 65px
}

.mrr-70 {
    margin-right: 70px
}

.mrr-75 {
    margin-right: 75px
}

.mrr-80 {
    margin-right: 80px
}

.mrr-85 {
    margin-right: 85px
}

.mrr-90 {
    margin-right: 90px
}

.mrr-95 {
    margin-right: 95px
}

.mrr-100 {
    margin-right: 100px
}

.cls1 .centertxttitle {
    margin-bottom: 30px
}

section.newsmedia {
    background-color: #f1f1f1;
    padding-top: 60px
}

.gallery-items {
    font-size: 0
}

.gallery-item {
    display: inline-block;
    vertical-align: top;
    -webkit-transition: height 500ms ease;
    -o-transition: height 500ms ease;
    transition: height 500ms ease
}

.gallery-expander {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 500ms ease;
    -o-transition: max-height 500ms ease;
    transition: max-height 500ms ease
}

.thumbnail {
    padding: 0;
    margin-bottom: 0;
    border-radius: 0
}

.gallery-contents {
    position: relative
}

.gallery-contents:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
    width: 0;
    height: 0;
    content: '';
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom-style: solid;
    border-bottom-width: 0;
    -webkit-transition: border-bottom-width 500ms ease;
    -o-transition: border-bottom-width 500ms ease;
    transition: border-bottom-width 500ms ease
}

.gallery-item.active .gallery-contents:after {
    border-bottom-width: 30px
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.gallery-item {
    text-align: left;
    font-size: 25px;
    margin: 15px;
    padding: 0;
    width: 17%
}

.gallery-item .thumbnail {
    position: relative;
    overflow: hidden;
    cursor: pointer
}

.gallery-contents:after {
    border-bottom-color: #F3F3F3;
    bottom: -30px
}

.gallery-expander {
    background: #F3F3F3;
    width: 93%;
    margin: 20px 3.5%
}

.gallery-expander-contents {
    margin: 0 auto;
    width: 100%;
    padding: 90px
}

@media (min-width: 640px) and (max-width: 999px) {
    .gallery-expander-contents {
        width: 640px
    }
}

@media (max-width: 639px) {
    .gallery-expander-contents {
        width: 100%
    }
}

.gallery-expander-contents:after {
    clear: both;
    display: table;
    content: ''
}

.gallery-expander-contents > div.col {
    float: left;
    width: 480px
}

@media (min-width: 640px) and (max-width: 999px) {
    .gallery-expander-contents > div.col {
        width: 310px
    }
}

@media (max-width: 639px) {
    .gallery-expander-contents > div.col {
        float: none;
        padding: 25px 20px 0;
        width: auto
    }
}

.gallery-expander-contents > div.col + div.col {
    margin-left: 40px
}

@media (min-width: 640px) and (max-width: 999px) {
    .gallery-expander-contents > div.col + div.col {
        margin-left: 20px
    }
}

@media (max-width: 639px) {
    .gallery-expander-contents > div.col + div.col {
        margin-left: 0
    }
}

.gallery-expander-contents div.close {
    position: absolute;
    top: 10px;
    right: 20px
}

.gallery-expander-contents div.contents {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #797262
}

.gallery-expander-contents div.image > img {
    width: 100%;
    display: block
}

.container {
    position: relative
}

.container > header {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    padding: 0 30px 50px;
    padding: 60px 30px 50px;
    text-align: center
}

.container > header h1 {
    font-size: 34px;
    line-height: 38px;
    margin: 0 auto;
    font-weight: 700;
    color: #333
}

.container > header h1 span {
    display: block;
    font-size: 20px;
    font-weight: 300
}

.main > p {
    text-align: center;
    padding: 50px 20px
}

.codrops-top {
    line-height: 24px;
    font-size: 11px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2)
}

.codrops-top a {
    padding: 0 10px;
    letter-spacing: 1px;
    color: #333;
    display: inline-block
}

.codrops-top a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000
}

.codrops-top span.right {
    float: right
}

.codrops-top span.right a {
    float: left;
    display: block
}

.ff-container {
    width: 564px;
    margin: 0 auto;
    display: block
}

#client .ff-container {
    width: 100%
}

.ff-container label {
    width: 150px;
    height: 35px;
    cursor: pointer;
    color: #777;
    text-shadow: none;
    line-height: 36px;
    font-size: 19px;
    border: 1px solid #EFEFEF;
    background-color: #f9f9f9;
    font-size: 14px;
    font-weight: Normal;
    color: #333;
    font-weight: 600
}

.ff-container label.ff-label-type-all {
    border-radius: 3px 0 0 3px;
    font-weight: 600
}

.ff-container label.ff-label-type-9 {
    border-radius: 0 3px 3px 0
}

.ff-container input.ff-selector-type-all:checked ~ label.ff-label-type-all,
.ff-container input.ff-selector-type-1:checked ~ label.ff-label-type-1,
.ff-container input.ff-selector-type-2:checked ~ label.ff-label-type-2,
.ff-container input.ff-selector-type-3:checked ~ label.ff-label-type-3,
.ff-container input.ff-selector-type-4:checked ~ label.ff-label-type-4,
.ff-container input.ff-selector-type-5:checked ~ label.ff-label-type-5,
.ff-container input.ff-selector-type-6:checked ~ label.ff-label-type-6,
.ff-container input.ff-selector-type-7:checked ~ label.ff-label-type-7,
.ff-container input.ff-selector-type-8:checked ~ label.ff-label-type-8,
.ff-container input.ff-selector-type-9:checked ~ label.ff-label-type-9 {
    background: red;
    color: #fff
}

.ff-container input {
    display: none
}

.ff-items {
    position: relative;
    margin: 0 auto;
    padding-top: 20px
}

.ff-items a {
    display: block;
    position: relative;
    padding: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 89%;
    height: 128px;
    border: 1px solid #f9f9f9
}

.ff-items a span {
    font-size: 14px;
    line-height: 18px;
    display: block;
    background: red;
    color: #fff;
    font-weight: 400;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.ff-items a:hover span {
    height: 80px;
    opacity: 1
}

.ff-items li {
    margin: 0;
    float: left;
    width: 188px;
    height: 148px;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out
}

.ff-container input.ff-selector-type-1:checked ~ .ff-items .ff-item-type-1,
.ff-container input.ff-selector-type-2:checked ~ .ff-items .ff-item-type-2,
.ff-container input.ff-selector-type-3:checked ~ .ff-items .ff-item-type-3,
.ff-container input.ff-selector-type-4:checked ~ .ff-items .ff-item-type-4,
.ff-container input.ff-selector-type-5:checked ~ .ff-items .ff-item-type-5,
.ff-container input.ff-selector-type-6:checked ~ .ff-items .ff-item-type-6,
.ff-container input.ff-selector-type-7:checked ~ .ff-items .ff-item-type-7,
.ff-container input.ff-selector-type-8:checked ~ .ff-items .ff-item-type-8,
.ff-container input.ff-selector-type-9:checked ~ .ff-items .ff-item-type-9 {
    opacity: 1
}

.ff-container input.ff-selector-type-1:checked ~ .ff-items li:not(.ff-item-type-1),
.ff-container input.ff-selector-type-2:checked ~ .ff-items li:not(.ff-item-type-2),
.ff-container input.ff-selector-type-3:checked ~ .ff-items li:not(.ff-item-type-3),
.ff-container input.ff-selector-type-4:checked ~ .ff-items li:not(.ff-item-type-4),
.ff-container input.ff-selector-type-5:checked ~ .ff-items li:not(.ff-item-type-5),
.ff-container input.ff-selector-type-6:checked ~ .ff-items li:not(.ff-item-type-6),
.ff-container input.ff-selector-type-7:checked ~ .ff-items li:not(.ff-item-type-7),
.ff-container input.ff-selector-type-8:checked ~ .ff-items li:not(.ff-item-type-8),
.ff-container input.ff-selector-type-9:checked ~ .ff-items li:not(.ff-item-type-9) {
    opacity: .1;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    display: none
}

.ff-container input.ff-selector-type-1:checked ~ .ff-items li:not(.ff-item-type-1) span,
.ff-container input.ff-selector-type-2:checked ~ .ff-items li:not(.ff-item-type-2) span,
.ff-container input.ff-selector-type-3:checked ~ .ff-items li:not(.ff-item-type-3) span,
.ff-container input.ff-selector-type-4:checked ~ .ff-items li:not(.ff-item-type-4) span,
.ff-container input.ff-selector-type-5:checked ~ .ff-items li:not(.ff-item-type-5) span,
.ff-container input.ff-selector-type-6:checked ~ .ff-items li:not(.ff-item-type-6) span,
.ff-container input.ff-selector-type-7:checked ~ .ff-items li:not(.ff-item-type-7) span,
.ff-container input.ff-selector-type-8:checked ~ .ff-items li:not(.ff-item-type-8) span,
.ff-container input.ff-selector-type-9:checked ~ .ff-items li:not(.ff-item-type-9) span {
    display: none
}

section.ff-container {
    float: left
}

@media only screen and (max-width: 500px) {
    .og-grid li {
        width: 45%
    }
    .ff-container label {
        font-size: 11px
    }
    .ff-container {
        width: 350px
    }
    .ff-items {
        position: relative;
        margin: 0 auto;
        padding-top: 20px;
        width: 350px
    }
    .ff-items li img {
        width: 100%
    }
    .ff-items a {
        width: 120px
    }
    .ff-items li {
        margin: 0;
        float: left;
        width: 120px;
        margin: 0 20px
    }
    .ff-items a span {
        font-size: 11px;
        line-height: 14px
    }
    .bgimage {
        height: auto;
        padding-bottom: 20px
    }
    .carousel-control.left {
        margin-top: 0!important
    }
    .carousel-control.right {
        margin-top: 0!important
    }
}

.svg-message .text {
    stroke-width: 1;
    stroke: hsl(6, 63%, 36%);
    stroke-dasharray: 1865.753px 1865.753px;
    stroke-dashoffset: 1865.753px;
    fill-opacity: 0;
    fill: hsl(0, 63%, 36%);
    -webkit-animation-name: stroke, fill;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-name: stroke, fill;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards
}

@keyframes fill {
    0% {
        fill-opacity: 0
    }
    50% {
        fill-opacity: 1
    }
    100% {
        fill-opacity: 1
    }
}

@-webkit-keyframes fill {
    0% {
        fill-opacity: 0
    }
    50% {
        fill-opacity: 1
    }
    100% {
        fill-opacity: 1
    }
}

.tt-wrapper {
    float: left;
    height: auto;
    margin: 50px auto 0;
    padding: 0;
    width: 100%
}

.tt-wrapper .in {
    float: left
}

.tt-wrapper .in a {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 2px;
    outline: none;
    position: relative;
    z-index: 2;
    text-indent: -9000px
}

.tt-wrapper .in p span:before {
    content: "CloudAgent";
    z-index: 999999999999;
    text-align: center;
    align-content: space-around;
    padding-left: 0;
    border-bottom: 2px solid red;
    padding-bottom: 6px;
    font-size: 30px;
    content: CloudAgent;
    z-index: 999999999999;
    text-align: center;
    align-content: space-around;
    font-size: 25px;
    padding-left: 0;
    border-bottom: 2px solid red;
    padding-bottom: 6px
}

.tt-wrapper .in:hover p span {
    display: none
}

.tt-wrapper .in:hover p:after {
    content: "Click Here";
    font-size: 18px;
    padding-left: 25px;
    float: left;
    margin-top: 10px
}

.tt-wrapper .in p span.txt2:before {
    content: "BrandAgent";
    text-align: center;
    align-content: space-around;
    font-size: 25px;
    padding-left: 0;
    border-bottom: 2px solid red;
    padding-bottom: 6px
}

.tt-wrapper .in:hover p span.txt2 {
    display: none
}

.tt-wrapper .in .tt-gplus {
    background-position: 0 0
}

.tt-wrapper .in .tt-twitter {
    background-position: -68px 0
}

.tt-wrapper .in .tt-dribbble {
    background-position: -136px 0
}

.tt-wrapper .in .tt-facebook {
    background-position: -204px 0
}

.tt-wrapper .in .tt-linkedin {
    background-position: -272px 0
}

.tt-wrapper .in .tt-forrst {
    background-position: -340px 0
}

.tt-wrapper .in a div.cr1 {
    width: 120px;
    height: 120px;
    line-height: 20px;
    color: #fff;
    padding: 30px 10px;
    left: -50px;
    top: -100px;
    margin-left: -55px;
    font-size: 15px;
    text-align: center;
    background: red;
    text-indent: 0;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    bottom: -40px;
    opacity: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-weight: 600
}

.tt-wrapper .in a:hover div.cr1 {
    opacity: .9;
    bottom: 50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.tt-wrapper .in a span.cr2 {
    width: 120px;
    height: 120px;
    line-height: 20px;
    color: #fff;
    padding: 30px 10px;
    left: -105px;
    top: 43px;
    margin-left: -55px;
    font-size: 15px;
    text-align: center;
    background: red;
    text-indent: 0;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    bottom: -40px;
    opacity: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    font-weight: 600
}

.tt-wrapper .in a:hover span.cr2 {
    opacity: .9;
    bottom: 50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.tt-wrapper .in a span.cr3 {
    width: 120px;
    height: 120px;
    padding: 10px;
    line-height: 95px;
    left: -55px;
    top: 190px;
    margin-left: -55px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: red;
    text-indent: 0;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    bottom: -40px;
    opacity: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all .9s ease-in-out;
    -moz-transition: all .9s ease-in-out;
    -o-transition: all .9s ease-in-out;
    -ms-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
    font-weight: 600
}

.tt-wrapper .in a:hover span.cr3 {
    opacity: .9;
    bottom: 50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

ol,
ul {
    list-style: none
}

.tt-wrapper .in a span.cr4 {
    width: 120px;
    height: 120px;
    padding: 10px;
    line-height: 90px;
    left: 253px;
    top: -100px;
    margin-left: -55px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: red;
    text-indent: 0;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    bottom: -40px;
    opacity: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-weight: 600
}

.tt-wrapper .in a:hover span.cr4 {
    opacity: .9;
    bottom: 50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.tt-wrapper .in a span.cr5 {
    width: 120px;
    height: 120px;
    line-height: 20px;
    color: #fff;
    padding: 20px 10px;
    left: 308px;
    top: 43px;
    margin-left: -55px;
    font-size: 15px;
    text-align: center;
    background: red;
    text-indent: 0;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    bottom: -40px;
    opacity: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    font-weight: 600
}

.tt-wrapper .in a:hover span.cr5 {
    opacity: .9;
    bottom: 50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.tt-wrapper .in a span.cr6 {
    width: 120px;
    height: 120px;
    line-height: 20px;
    color: #fff;
    padding: 40px 10px;
    left: 260px;
    top: 190px;
    margin-left: -55px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: red;
    text-indent: 0;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    bottom: -40px;
    opacity: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all .9s ease-in-out;
    -moz-transition: all .9s ease-in-out;
    -o-transition: all .9s ease-in-out;
    -ms-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
    font-weight: 600
}

.tt-wrapper .in a:hover span.cr6 {
    opacity: .9;
    bottom: 50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.tt-wrapper .in a span.cr11 {
    color: #fff;
    padding: 10px 20px;
    height: 130px;
    left: -300px;
    border-radius: 0 30px;
    top: -10px;
    font-size: 15px;
    text-align: center;
    background: #222b82;
    text-indent: 0;
    position: absolute;
    bottom: -40px;
    opacity: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    font-weight: 600;
    width: 260px
}

.tt-wrapper .in a:hover span.cr11 {
    opacity: .9;
    bottom: 50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.tt-wrapper .in a span.cr12 {
    color: #fff;
    padding: 10px 20px;
    height: 130px;
    left: -300px;
    border-radius: 0 30px;
    top: 210px;
    font-size: 15px;
    text-align: center;
    background: #222b82;
    text-indent: 0;
    position: absolute;
    bottom: -40px;
    opacity: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    font-weight: 600;
    width: 260px
}

.tt-wrapper .in a:hover span.cr12 {
    opacity: .9;
    bottom: 50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.in.sol_new201 a.tt-gplus {
    cursor: context-menu
}

.tt-wrapper .in a span.cr13 {
    color: #fff;
    padding: 10px 20px;
    height: 130px;
    right: -300px;
    border-radius: 0 30px;
    top: -10px;
    font-size: 15px;
    text-align: center;
    background: #222b82;
    text-indent: 0;
    position: absolute;
    bottom: -40px;
    opacity: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    font-weight: 600;
    width: 260px
}

.tt-wrapper .in a:hover span.cr13 {
    opacity: .9;
    bottom: 50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.tt-wrapper .in a span.cr14 {
    color: #fff;
    padding: 10px 20px;
    height: 130px;
    right: -300px;
    border-radius: 0 30px;
    top: 210px;
    font-size: 15px;
    text-align: center;
    background: #222b82;
    ;
    text-indent: 0;
    position: absolute;
    bottom: -40px;
    opacity: 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    font-weight: 600;
    width: 260px
}

.tt-wrapper .in a:hover span.cr14 {
    opacity: .9;
    bottom: 50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.tt-wrapper .in {
    float: left;
    color: #373A47;
    margin: 5px;
    display: table-cell;
    vertical-align: middle;
    background-color: #fff;
    width: 230px;
    height: 230px;
    border-radius: 200px;
    margin: 0 14%;
    border: 5px solid #222b82
}

.in.sol_new201 {
    margin: 0 auto;
    float: none !important;
    display: inline-block;
    background: url(../images/solution_bg.jpg) no-repeat;
    clear: left !important;
    border: none;
    background-size: 100% 100%;
    border-radius: 0;
    height: 379px;
    width: 400px
}

.in.sol_new201 a {
    width: 400px;
    height: 379px
}

.sol_hv01 {
    background: #f4f6e6;
    float: left;
    width: 100%
}

.sol_hv01 .tt-wrapper {
    margin: 15px 0
}

.index.home .in p {
    padding-top: 90px;
    text-align: center;
    position: absolute;
    padding-left: 40px
}

li.txt3:before {
    content: "BRAND AGENT";
    z-index: 999999999999;
    text-align: center
}

.nav-justified a {
    color: #fff
}

ul.nav.nav-pills.nav-justified {
    margin-top: -67px
}

.nav-justified {
    width: 500px!important;
    margin: 0 auto;
    font-size: 12px
}

.carousel-fade .carousel-inner .item {
    opacity: .9;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    background-color: #000
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
    background-color: #000
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 1;
    z-index: 1;
    background-color: #000
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1
}

.carousel-fade .carousel-control {
    z-index: 2
}

button:focus {
    outline: none
}

@media screen and (min-width: 1000px) {
    .carousel-control.right {
        margin-right: 120px
    }
    .carousel-control.left {
        margin-left: 120px
    }
    .section-hero {
        background-position: center center
    }
}

@media screen and (min-width: 991px) {
    section.brand-sec3 .brand-sec3-block1 .col-md-2 {
        width: 20%
    }
    ul.ff-items.item_change {
        margin: 0 11%
    }
}

@media screen and (min-width: 1199px) {
    ul.ff-items.item_change {
        margin: 0 17%
    }
}

@media screen and (max-width: 991px) {
    ul.s_106 li,
    ul.sl_102 li,
    ul.sl_1011 li {
        width: 100%!important
    }
    .wrapper.clearfix.sgn-form {
        margin-top: 25px
    }
    .in.sol_new201 a {
        height: 190px !important;
        width: 160px !important
    }
    .in.sol_new201 {
        height: 220px;
        width: 190px;
        margin: 0 !important
    }
    .onlymob {
        float: left
    }
    .btn5 {
        text-align: center;
        width: 100%
    }
    .newbt .btn5 a {
        display: flex !important;
        margin: 20px auto 0 auto !important
    }
    .btn5 img {
        display: block;
        margin: 0 auto 20px !important
    }
    .onlymob {
        display: flex;
        float: none;
        text-align: center;
        width: 100%
    }
    .sol-sec-part4 {
        background: #222b82!important;
        background-image: none!important
    }
    section#testimonial a.right {
        width: 4% !important;
        right: 3.5%!important
    }
    .sgn_call #myTab {
        background: #e1e1e1!important
    }
    .sgn_call #myTab li {
        border-right: none !important;
        border-bottom: 1px solid #f1f1f1;
        width: 100% !important;
        margin: 0
    }
    .active .glyphicon.glyphicon-triangle-bottom.act {
        display: none !important;
        visibility: hidden !important
    }
    .mobmr-50 {
        margin-top: 70px
    }
    .cloud-block {
        margin-bottom: 50px!important
    }
    p.brand-txt {
        margin-left: 0;
        text-align: center;
        margin-top: 10px
    }
    .new-ds .col-md-4 {
        margin-bottom: 30px
    }
    p.brand-sec2-p {
        font-size: 18px;
        padding: 25px;
        margin: 0;
        line-height: 33px
    }
    .case {
        margin-bottom: 20px
    }
    .count {
        font-size: 80px
    }
    .count2 .count-details {
        margin-top: 30px
    }
    .brand-block {
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 50px
    }
    .brand-block:last-child {
        border: none;
        padding: 0
    }
    .cloud-sec1 .gallery-item {
        width: 46%!important
    }
    .gallery-expander-contents div.contents {
        margin-top: 40px!important
    }
    .cloud-sec1 .gallery-expander {
        margin: 20px 3.5%!important;
        width: 93%!important
    }
    .cl-mob-mr {
        margin-bottom: 30px
    }
    .gallery-item {
        width: 44%!important
    }
    .cloud-txt {
        text-align: center!important
    }
    body.brand #lite-sec .cloud-inr-border {
        min-height: 300px!important
    }
    .contact {
        margin-bottom: 50px
    }
    .nav-tabs > li {
        margin: 0 3%
    }
    .brand-sm-img span.glyphicon,
    .brand-sm-img span.fa {
        margin-bottom: 15px
    }
    .tm-sec .carousel-control {
        top: 290px!important;
        position: absolute
    }
}

@media screen and (max-width: 1300px) {
    .carousel-inner .item .imgvs {
        min-height: 400px
    }
    .carousel-control.right {
        margin-right: 80px
    }
    .carousel-control.left {
        margin-left: 80px
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .carousel-inner .item .imgvs {
        min-height: 500px
    }
    .carousel-caption {
        min-height: 350px
    }
    .carousel-control.right {
        margin-right: 50px
    }
    .carousel-control.left {
        margin-left: 50px
    }
}

@media screen and (min-width: 1080px) {
    .tt-wrapper-big {
        display: inline-block;
        height: auto;
        margin: 0 auto;
        width: 1050px
    }
}

@media screen and (min-width: 1600px) {
    .carousel-control {
        top: 55%
    }
}

@media screen and (max-width: 1200px) {
    .tm-sec .carousel-caption {
        background: #000;
        border: medium none;
        bottom: initial;
        box-shadow: none;
        left: 10%;
        min-height: 0;
        position: inherit;
        right: 10%;
        width: 80%
    }
    .tm-sec .carousel-control {
        position: absolute
    }
    .tm-sec a.carousel-control.right {
        margin: 0;
        right: 35%
    }
    .tm-sec a.carousel-control.left {
        left: 35%;
        margin: 0
    }
    .tm-sec .carousel-control.right {
        margin-right: 10px
    }
    .tm-sec .carousel-control.left {
        margin-left: 10px
    }
    .sec-2-carousel {
        background: #000;
        padding-bottom: 10px
    }
    .tm-sec .carousel-control {
        top: 380px;
        position: absolute
    }
}

@media screen and (max-width: 767px) {
    .page-scroll.dsm {
        display: none
    }
    .lv_chat .cs_sgn_sec3 .sl_101 {
        text-align: left
    }
    h3.h3150 {
        width: 85% !important
    }
    .count {
        width: 100%
    }
    .count-details {
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
        width: 100%
    }
    .count2 .count-details {
        margin-top: 0
    }
    .rw3 li,
    .rw5 li {
        display: flex
    }
    .rw3 li:before,
    .rw5 li:before {
        line-height: inherit;
        padding-right: 15px
    }
    .ft-inner {
        text-align: center
    }
    ul.ft.four {
        text-align: center
    }
    body.brand #lite-sec .cloud-inr-border {
        min-height: 0!important
    }
    .brand #lite-sec .gallery-item {
        margin-right: 0!important;
        width: 99%!important
    }
    .centertxttitle {
        line-height: 40px;
        margin: 40px 0 30px
    }
    .gallery-expander-contents {
        padding: 30px!important
    }
    .carousel-inner .item .imgvs {
        min-height: 550px
    }
    .carousel-caption {
        min-height: 350px
    }
    .bgimage2 {
        background: #fff none repeat scroll 0 0;
        height: auto!important
    }
    .carousel-control.right {
        margin-right: 10px
    }
    .carousel-control.left {
        margin-left: 10px
    }
    .casep2 {
        float: left;
        margin-top: 40px;
        width: 100%;
        float: left;
        margin-top: 40px;
        width: 100%
    }
    .brand #lite-sec .gallery-item {
        padding: 0!important;
        width: 99%!important;
        margin: 20px 0 0!important
    }
    .tm-sec .carousel-control {
        top: 230px!important
    }
    h3.head-b2 {
        font-size: 30px
    }
    .press-bg,
    .career-bg,
    .contactus-bg,
    .brand-bg-agent,
    .solution-bg {
        background-size: 100% 100%!important;
        padding: 75px 0!important
    }
    .cloud-bg-agent {
        background-size: 100% 100%!important;
        padding: 50px 0 100px !important
    }
}

@media screen and (min-width: 901px) and (max-width: 1079px) {
    .tt-wrapper .in {
        margin: 130px 37.5% 0
    }
    .bgimage {
        background: url(../images/section-bg.jpg) no-repeat fixed 0 0 #fff;
        height: auto
    }
    .calltoaction {
        padding-top: 100px
    }
    h3.head-b2 {
        font-size: 35px
    }
    .cloud-bg-agent,
    .press-bg,
    .career-bg,
    .contactus-bg,
    .brand-bg-agent,
    .solution-bg {
        background-position: right 0!important
    }
}

@media screen and (min-width: 1000px) and (max-width: 1079px) {
    .flip-container,
    .front,
    .back {
        min-height: 350px
    }
    .middlebox {
        height: 350px
    }
    .info {
        min-height: 60px
    }
}

@media screen and (max-width: 1079px) {
    .red-band {
        margin: 45px 0 0!important;
        width: 100%!important
    }
    .red-band span {
        font-size: 20px;
        padding: 0 10px
    }
}

@media screen and (max-width: 479px) {
    h3.head-b2 {
        font-size: 15px
    }
    .cs_sgn_call section#testimonial .grid li {
        width: 100% !important
    }
    .sl_101 > img {
        display: block;
        margin: 0 auto 20px !important
    }
    .sl_101 {
        text-align: center;
        width: 100%
    }
    .border {
        border: 2px solid #fff;
        margin: 10px;
        font-size: 18px;
        padding: 15px
    }
    p.brand-sec2-p {
        font-size: 18px;
        padding: 15px;
        margin: 0;
        line-height: 33px;
        border: 2px solid #fff
    }
    .navbar-header.page-scroll {
        width: 100%;
        float: left
    }
    html,
    body {
        padding-top: 77px!important
    }
    .ff-container label {
        width: 100%!important;
        font-size: 14px
    }
    .ff-items a {
        height: auto;
        width: auto
    }
    .ff-items li {
        height: auto;
        margin: 0!important;
        width: 100%!important
    }
    .ff-items a span {
        font-size: 16px
    }
    .ff-items {
        width: 100%
    }
    .ff-items li img {
        width: auto
    }
    .nav-tabs > li {
        margin: 0 0 10px;
        width: 100%
    }
}

@media screen and (max-width: 320px) {
    section.sb-menu a {
        font-size: 15px!important
    }
    .nav > li > a {
        padding: 6px!important
    }
}

@media screen and (max-width: 599px) {
    a.mbs {
        display: inherit !important
    }
    .menu-wrap {
        overflow: scroll !important
    }
    .askhdn {
        display: none !important
    }
    .mbs {
        display: inherit !important
    }
    nav.navbar.navbar-default.nav ul li a {
        border-left: medium none !important;
        padding: 0 8px !important
    }
    .cloud-sec1 .gallery-item {
        width: 90%!important
    }
    .glr2-items .gallery-item {
        margin-left: 0;
        margin-right: 0
    }
    .intro-sub {
        font-size: 18px!important;
        padding: 0 180px!important;
        display: block;
        top: -40px;
        position: relative
    }
    .svg-message {
        width: 70%
    }
    .red-band span {
        font-size: 16px
    }
    .red-band {
        padding: 15px 0!important
    }
    .carousel-inner .item .imgvs {
        min-height: 800px
    }
    .carousel-caption {
        min-height: 600px
    }
    .bgimage2 {
        background: #fff none repeat scroll 0 0;
        height: auto!important;
        padding: 30px 0 50px
    }
    p.casep5 {
        font-size: 35px!important;
        margin: 30px 0 40px!important
    }
    p.casep4 {
        font-size: 20px!important;
        line-height: 30px!important
    }
    .casep2 {
        float: left;
        margin-top: 40px;
        width: 100%
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .cloud-sec1 .gallery-item {
        width: 21%!important;
        width: 46%!important
    }
    .in.sol_new201 a {
        height: 190px !important;
        width: 160px !important
    }
    .in.sol_new201 {
        height: 220px;
        width: 190px;
        margin: 0 !important
    }
    .sol_hv01 .tt-wrapper-big {
        width: 100%
    }
    #lite-sec .cloud-inr-border {
        min-height: 308px!important
    }
    .testimonials-inr {
        min-height: 330px !important
    }
}

form#WebToLeadForm input {
    margin-bottom: 20px;
    border-width: 1px
}

form#WebToLeadForm label {
    font-weight: 400;
    text-align: left;
    width: 100%;
    margin-top: 0
}

input.button.sg-btn {
    background-color: #222b82;
    border: none;
    padding: 10px;
    color: #fff;
    float: left;
    border-radius: 8px;
    background-color: #222b82;
    border: none;
    padding: 10px 10px;
    color: #fff;
    float: left;
    margin: -10px 0 0;
    border-radius: 8px
}

input.button.sg-btn:hover {
    background-color: #f20
}

.sgn-form .alert-info {
    background-color: #222b82;
    border-color: #222b82;
    color: #fff;
    float: left;
    width: 100%
}

.sgn-form .alert-info a:hover {
    color: #f20
}

.alert.alodd {
    background-color: #f1f1f1;
    font-size: 80%;
    padding: 2px
}

.alert.aleven {
    background-color: #f1f1f1;
    font-size: 80%;
    padding: 2px
}

.sgn-form .alert-info a {
    color: #f20
}

h1.tks a:hover {
    color: #f20;
    text-decoration: none
}

section#testimonial {
    float: left;
    width: 100%;
    background: #f1f1f1;
    padding: 0 0 20px 0
}

.testimomnial-img img {
    border-radius: 130px;
    display: inline;
    padding: 2px;
    background-color: #fff;
    width: 110px !important;
    height: 110px;
    min-height: 110px !important
}

.testimomnial-img {
    background: #fff
}

section#testimonial a.right {
    position: absolute;
    top: 55%;
    bottom: 0;
    right: 0;
    width: 2%;
    font-size: 25px;
    color: #bfbfbf;
    text-align: center
}

section#testimonial a.left {
    position: absolute;
    top: 55%;
    bottom: 0;
    left: 0;
    width: 2%;
    font-size: 25px;
    color: #bfbfbf;
    text-align: center
}

.quote_right {
    background: url(../images/quote_dwn.html) no-repeat;
    width: 23px;
    height: 20px;
    position: absolute
}

.quote_left {
    background: url(../images/quote_up.html) no-repeat;
    width: 23px;
    height: 20px;
    margin-top: -10px;
    position: absolute;
    left: 30px
}

.testimonials-inr {
    padding: 0 50px 0 60px;
    text-align: left;
    min-height: 310px
}

p.atr {
    text-align: left;
    color: #222b82;
    font-weight: 600
}

.bound ul li {
    font-size: 17px;
    text-align: left;
    line-height: 30px;
    display: flex;
    margin: 0 30px
}

.bound ul li:last-child {
    border: none
}

.solution_blk {
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 40px
}

.solution_blk2 {
    float: left;
    width: 100%;
    text-align: left;
    background: #222b82;
    color: #fff
}

ul.s_106 li {
    color: #222b82;
    float: left;
    width: 40%;
    margin: 0 3% 5px 3%;
    padding: 0;
    display: flex
}

ul.s_106 li a:hover {
    color: #222b82
}

.sl_105 li {
    list-style: disc;
    float: left;
    margin: 0 60px 5px 0
}

ul.sl_105 {
    padding-left: 20px
}

.sl_100 {
    text-align: center;
    padding: 20px 0;
    color: #222b82;
    width: 47%;
    float: left;
    margin: 0 3% 0 0;
    border: 1px solid red
}

.sl_101 {
    font-weight: 700;
    font-size: 18px;
    color: #222b82;
    text-transform: uppercase;
    float: left;
    text-align: center;
    width: 100%;
    margin: 10px 0 10px 0
}

body.solution_page .sol .accordion-group.odd {
    margin: 0 1% 1% 0;
    float: left;
    width: 32.3%
}

.solution_page .text-center.sol {
    margin-top: 30px
}

body.solution_page .acc-content {
    margin: 15px;
    height: 200px
}

body.solution_page .middlebox {
    height: 200px
}

body.solution_page .info {
    color: #000
}

.flip-container,
.front,
.back {
    min-height: 290px
}

ul.sl_102 li {
    margin-bottom: 10px
}

.row.s_r_100 {}

.row.s_r_100:last-child {
    border: none
}

section.solution_blk3 {
    float: left;
    width: 100%
}

.solution_blk3 .gallery-item {
    width: 22%
}

.solution_page.adv .solution_blk3 .gallery-item {
    width: 30%
}

.s_106 {
    margin: 0;
    margin-top: 10px;
    float: left;
    width: 100%;
    background: #f7f7f7;
    padding: 30px;
    border: 1px solid #f1f1f1
}

.solution_page .gallery-expander-contents {
    padding: 50px
}

section.sgn-sec {
    float: left;
    width: 100%;
    background: #fff;
    padding: 20px 0;
    font-size: 22px;
    color: #222b82
}

section.sgn-sec2 {
    float: left;
    width: 100%;
    background: #f4f4f4;
    padding: 30px 0;
    color: #222b82
}

.sgn-sec5 {
    float: left;
    width: 100%;
    text-align: left;
    padding: 7px 0;
    background: #f4f4f4
}

.btn9 a:hover {
    color: #ff2200
}

.btn9 a {
    color: #222b82;
    font-size: 14px
}

.sgntopage {
    background: #ff2200;
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 18px;
    margin-top: 5px;
    font-size: 16px
}

.sgntopage:hover {
    background: #ff2200
}

.solution_page .flip-container,
.solution_page .front,
.solution_page .back {
    min-height: 230px
}

.sgn_call #myTab {
    background: #9A9A9A
}

.sgn_call #myTab li a {
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 0;
    margin-right: 0px;
    border: none;
    padding: 29px 0;
    color: #fff
}

.sgn_call #myTab li {
    border-right: 1px solid #fff;
    text-align: center;
    width: 33.33333333%;
    margin-bottom: 0px
}

.sgn_call .nav-tabs > li.active > a,
.sgn_call .nav-tabs > li.active > a:hover,
.sgn_call .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #222b82
}

.hvr-rectangle-out.tb01:before {
    background: #222b82
}

.hvr-rectangle-out.tb02:before {
    background: #222b82
}

.hvr-rectangle-out.tb03:before {
    background: #222b82
}

.hvr-rectangle-out:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1
}

.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
    color: white
}

.glyphicon.glyphicon-triangle-bottom.act {
    display: none
}

.active .glyphicon.glyphicon-triangle-bottom.act {
    top: 79px;
    color: #222b82;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 10%;
    display: inherit !important
}

.tab-content #tollfree,
.tab-content #bulksms,
.tab-content #vphone,
.tab-content #missedcall {
    border: 1px solid #f1f1f1;
    margin-top: -1px;
    padding: 30px;
    text-align: left;
    float: left;
    width: 99.9%
}

body#page-top h3.sgn_head {
    margin-top: 20px
}

h3.sgn_head {
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 30px;
    color: #222b82
}

h4.sgn_headh4 {
    font-size: 16px;
    padding-bottom: 7px;
    font-weight: 600;
    display: inline-block;
    float: left;
    margin: 10px 0 15px 0;
    width: 100%
}

.pd {
    padding: 0
}

.icon_with_txt_inr {
    padding: 0 20px;
    text-align: center;
    border: 1px dotted #ccc;
    display: table-cell;
    height: 300px;
    vertical-align: middle
}

p.icon_with_txt_inr-p {
    margin-top: 5px;
    font-size: 15px
}

.sgn_call .p-description {
    margin-top: 10px
}

.icon_with_txt {
    padding: 0
}

.sgn_call .alert.alert-info {
    margin: 0
}

.sgn_call form#WebToLeadForm {
    padding: 20px;
    border: 1px solid #f1f1f1;
    border-top: none;
    float: left;
    width: 100%
}

.sgn_call .alert-info {
    border-radius: 0 !important
}

.sgn_call .p-description b {
    color: #222b82
}

span.report_icon {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: 0 0;
    width: 45px;
    height: 45px;
    display: inline-block
}

span.report_icon_hover {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: -53px 0;
    width: 45px;
    height: 45px;
    display: inline-block
}

span.report_icon2 {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: 0 -49px;
    width: 45px;
    height: 45px;
    display: inline-block
}

span.report_icon2_hover {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: -53px -49px;
    width: 45px;
    height: 45px;
    display: inline-block
}

span.report_icon3 {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: 0 -93px;
    width: 45px;
    height: 45px;
    display: inline-block
}

span.report_icon3_hover {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: -53px -93px;
    width: 45px;
    height: 45px;
    display: inline-block
}

span.report_icon4 {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: 0 -137px;
    width: 45px;
    height: 45px;
    display: inline-block
}

span.report_icon4_hover {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: -53px -137px;
    width: 45px;
    height: 45px;
    display: inline-block
}

span.report_icon5 {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: 0 -180px;
    width: 45px;
    height: 45px;
    display: inline-block
}

span.report_icon5_hover {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: -53px -180px;
    width: 45px;
    height: 45px;
    display: inline-block
}

span.report_icon6 {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: 0 -228px;
    width: 45px;
    height: 45px;
    display: inline-block
}

span.report_icon6_hover {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: -50px -228px;
    width: 45px;
    height: 45px;
    display: inline-block
}

span.report_icon7_hover {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: 0 -277px;
    width: 45px;
    height: 45px;
    display: inline-block
}

.cloud-sec-inner-block1:hover span.report_icon7_hover {
    background-position: -50px -277px
}

span.report_icon8_hover {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: 0 -323px;
    width: 45px;
    height: 45px;
    display: inline-block
}

.cloud-sec-inner-block1:hover span.report_icon8_hover {
    background-position: -51px -323px
}

span.report_icon9_hover {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: 0 -366px;
    width: 45px;
    height: 45px;
    display: inline-block
}

.cloud-sec-inner-block1:hover span.report_icon9_hover {
    background-position: -50px -366px
}

span.report_icon10_hover {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: 0 -414px;
    width: 45px;
    height: 45px;
    display: inline-block
}

.cloud-sec-inner-block1:hover span.report_icon10_hover {
    background-position: -51px -414px
}

span.report_icon11_hover {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: 0 -463px;
    width: 45px;
    height: 45px;
    display: inline-block
}

.cloud-sec-inner-block1:hover span.report_icon11_hover {
    background-position: -50px -463px
}

span.report_icon12_hover {
    background: url(../images/report_icon1.png) no-repeat;
    background-position: 0 -512px;
    width: 45px;
    height: 45px;
    display: inline-block
}

.cloud-sec-inner-block1:hover span.report_icon12_hover {
    background-position: -51px -512px
}

.sol-sec-part p.sl_101 {
    color: #fff
}

.sol-sec-part {
    background: #fff;
    color: #949494;
    padding: 25px 0
}

.sol-sec-part p.sl_101 {
    color: #222b82
}

.sol-sec-part2 {
    width: 100%;
    padding: 20px 0 30px 0;
    background: url("../assets/images/bg-fr.jpg")
}

ul.sl_102 li {
    float: left;
    width: 49%;
    margin: 10px 1% 10px 0;
    color: #fff;
    padding: 20px 20px 10px 20px;
    min-height: 145px
}

ul.sl_1011 li {
    float: left;
    width: 49%;
    margin: 1% .5% 0 .5%;
    color: #222b82;
    padding: 20px 20px;
    min-height: 130px;
    border: 1px solid #f1f1f1;
    background: #f7f7f7
}

.sol-sec-part3 p.sl_101 {
    color: #222b82
}

.sol-sec-part3 {
    background: #fff;
    padding: 20px 0 30px 0;
    color: #949494
}

.sol-sec-part-0 .centertxttitle,
.sol-sec-part-0 .sl_101,
.sol-sec-part2 .sl_101,
.sol-sec-part4 .sl_101,
.sol-sec-part6 .sl_101 {
    color: #fff
}

.sol-sec-part4 {
    padding: 20px 0 30px 0;
    background: url("../images/cmn.jpg")
}

.sol-sec-part5 {
    background: #fff;
    color: #949494;
    padding: 20px 0 30px 0
}

.sol-sec-part6 {
    padding: 20px 0 30px 0;
    background: url("../images/call_ph.jpg")
}

.solution_page .brandcmn-bg-slide {
    padding: 0
}

.sol-sec-part-0 {
    width: 100%;
    background: url("../images/cmn2.jpg");
    padding: 30px 0
}

.career-pg-sc1 h3 {
    margin: 0;
    text-align: left;
    font-size: 22px;
    color: #222b82;
    margin-bottom: 20px;
    font-weight: 600
}

.career-pg-sc1 h4 {
    margin-bottom: 15px
}

ul.job-description {
    padding-left: 18px
}

ul.job-description li {
    margin: 0 0 7px 0;
    list-style: disc
}

.career-pg-list1 {
    border-bottom: 1px dotted #ccc;
    padding: 10px 17px 20px 17px;
    margin-bottom: 5px
}

.career-pg-list0 {
    border-bottom: 1px dotted #ccc;
    padding: 10px 17px 10px 17px;
    margin-bottom: 5px
}

.career-pg-list2 {
    padding: 10px 17px 20px 17px
}

.career-pg-list3 {
    padding: 15px 17px 20px 17px;
    background: #f1f1f1
}

.career-pg-list3 p {
    line-height: 27px;
    margin-bottom: 0
}

.career-pg-list4 {
    padding: 10px 15px;
    background: #222b82;
    color: #fff
}

.career-pg-list4 p {
    margin-bottom: 0
}

.career-pg-list4 a {
    color: #ff2200
}

h3.h3150 {
    padding: 5px 0;
    margin: 0;
    font-size: 20px;
    width: 96%;
    text-align: left;
    color: #222b72;
    display: inline-block
}

.career-page .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 15px 0
}

.career-page .panel-default > .panel-heading {
    border-radius: 0
}

section.career-sec152 {
    padding: 0 0 30px 0
}

section.career-sec152a.collapsed .glyphicon-triangle-bottom {
    display: none
}

section.career-sec152a.collapsed .glyphicon-triangle-right {
    display: block !important
}

h3.h3150:hover {
    color: #ff2200
}

.btn5 a,
.btn6 a {
    background: #222b72;
    padding: 7px 15px;
    float: left;
    color: #fff;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
    background: rgb(112, 138, 218);
    background: -moz-linear-gradient(top, rgb(112, 138, 218) 0%, rgb(51, 78, 162) 93%);
    background: -webkit-linear-gradient(top, rgb(112, 138, 218) 0%, rgb(51, 78, 162) 93%);
    background: linear-gradient(to bottom, rgb(112, 138, 218) 0%, rgb(51, 78, 162) 93%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#708ada', endColorstr='#334ea2', GradientType=0);
    border-radius: 4px;
    border: 1px solid #334ea2;
    font-size: 16px
}

.btn7 a {
    background: #fff;
    padding: 7px 15px;
    float: left;
    color: #222b72;
    text-transform: uppercase;
    margin-bottom: 15px;
    border-radius: 4px
}

.btn5,
.btn6,
.btn7 {
    float: left
}

.btn6 a,
.btn7 a {
    margin-top: 0
}

.sol_sec_part23 {
    background: #fff;
    color: #949494;
    padding: 30px 0;
    border-bottom: 1px solid #f1f1f1
}

.bt-border {
    float: left;
    width: 100%;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 20px;
    padding-top: 5px
}

.service .bt-border,
.features_oz .bt-border {
    padding-bottom: 35px
}

.newbt .btn5 a {
    float: right;
    margin-left: 20px;
    margin-top: 22px
}

a.signup {
    float: none !important;
    padding: 10px 80px;
    background-color: #FFA500;
    ;
    border: 1px solid ##FFA500;
}

.calltext {
    margin-bottom: 20px
}

.btn5.calltosignup {
    width: 100%;
    text-align: center;
    padding: 20px 0px
}

.homesolsection {
    width: 100%;
    float: left
}

.homesolbox {
    width: 100%;
    float: left;
    border-width: 60%
}

.homesolghttxt {
    float: left;
    width: 60%
}

.homesollftimg {
    float: left;
    width: 40%;
    margin-top: 150px
}

span.rreadmore {
    color: #e74c3c;
    font-size: 12px;
    text-decoration: blink
}

.innerslobox {
    float: left;
    text-align: center;
    padding: 10px 20px;
    border-bottom: 1px solid #dedede;
    width: 75%
}

.redlinetxt {
    font-weight: 500;
    font-size: 15px;
    color: #333333;
    text-transform: uppercase;
    float: left;
    width: 100%;
    margin: 10px 0 10px 0;
    padding-top: 10px
}

.homesolutionsbg {
    background: #f4f6e6 !important
}

.solicon,
.solcont {
    float: left;
    padding: 0px 10px
}

.solicon {
    min-width: 100px;
    text-align: center;
    width: 100%
}

.solcont {
    width: 75%;
    text-align: left;
    font-size: 14px
}

@media (min-width: 640px) and (max-width: 999px) {
    .homesolbox {
        width: 50%;
        min-height: 275px
    }
    .innerslobox {
        width: 100%
    }
    .homesolghttxt {
        width: 100%
    }
    .homesollftimg {
        width: 100%
    }
}

@media (max-width: 639px) {
    .homesolbox {
        width: 100%
    }
    .innerslobox {
        width: 100%
    }
    .homesolghttxt {
        width: 100%
    }
    .homesollftimg {
        width: 100%
    }
}

ul.servicetab li {
    width: 24%;
    text-align: center;
    border: 0px solid #ecf0f1;
    height: 175px;
    margin-right: 1%
}

.servicetab {
    width: 75%;
    margin: 0 auto
}

ul.servicetab > li.active > a,
ul.servicetab > li > a {
    border: 0px solid #ecf0f1 !important
}

li.active .redlinetxt {
    border-top: 2px #212b82 solid !important
}

.servicetabimg {
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    padding: 8px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1)
}

li.active .servicetabimg {
    border: 1px solid #ecf0f1;
    border-radius: 50px;
    padding: 8px;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0)
}

ul.servicetabli .redlinetxt {
    font-size: 14px
}

.noborder {
    border: 0px !important
}

span.soltitle {
    text-align: left
}

.flft {
    float: left
}

@media (max-width: 950px) {
    .flft {
        float: none
    }
    ul.servicetabli .redlinetxt {
        display: none
    }
    ul.servicetab li {
        width: 20%
    }
    .servicetab {
        width: 100%;
        margin: 0 auto
    }
    ul.servicetab> li > a > img {
        max-width: 75px !important;
        height: auto
    }
    ul.servicetab li {
        height: 125px
    }
}

.sgn_call_inner {
    text-align: left
}

.sgn_call_inner ul.s_106 li {
    width: 100%
}

p.sgn_p01 {
    float: left;
    margin: 15px 0 0 0;
    color: #222b82
}

section.cs_sgn_sec2 {
    background: #f1f1f1;
    padding: 0 0 40px 0
}

.cs_sgn_call .ff-items a {
    background: #fff;
    box-shadow: none;
    border: none
}

.cs_sgn_call .centertxttitle {
    font-size: 26px;
    line-height: 35px
}

section.cs_sgn_sec3 img.img-responsive {
    border: 1px solid #E0E0E0;
    padding: 2px
}

section.cs_sgn_sec4 {
    background: #f1f1f1;
    padding-bottom: 20px
}

.cs_sgn_call section#testimonial {
    padding-bottom: 40px;
    height: auto;
    background: url(../images/cmn.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;
    width: 100%
}

.cs_sgn_call section#testimonial h4 {
    color: #fff
}

.cs_sgn_call section#testimonial .grid li {
    width: 50%
}

.sgnpart2 .bt-border {
    border: none;
    padding: 0;
    margin: 40px 0
}

section.cs_sgn_sec14 {
    background: #f1f1f1;
    padding-bottom: 30px
}

.cs_sgn_sec14 ul.sl_1011 li {
    padding: 20px 30px
}

.new_tab_sec {
    background: #fff;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px
}

.tb_img_fl {
    width: 100%;
    height: auto
}

.awards_css {
    border: 1px solid #f1f1f1;
    margin-right: 20px;
    border-radius: 50px;
    padding: 8px;
    background-color: white;
}

.features_ozo {
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    padding: 8px
}