
/*JUmbotron size of larger desktop  screen*/
@media (min-width:1200px) {

}

/*this part is only for common layouts in desktop and tablets-landscape*/
@media (min-width:992px) {

}

/*this part is only for common layouts in mobile and tablets*/
@media (max-width: 991px) {
.carousel-control{
	display:none
	}
.carousel-indicators{
	display:block;
	bottom: 0;
	}

.carousel-indicators li {
    border: 1px solid #fd911e;
	}
.carousel-indicators .active{
	background-color:#fd911e;
	}
  
}

/*For mobile devices*/
@media (max-width: 767px) {
body{
	padding-top:60px;
	}
.navbar{
	    padding: 3px 0;
	}
.site-header .navbar-brand{
	padding:10px 0;
	}

.navbar-default .navbar-nav > li {
    margin-left: 0px;
    text-align: left;
    width: 100%;
    padding: 10px 0;
	border-bottom: 1px solid #fd911e;

}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color:#666;
	}
.navbar-collapse{
	padding-left:0;
	padding-right:0;
	}
.caret{
	float:right;
	margin-top: 10px;
	}
.banner-section .carousel-caption .themebtn,.nav-top{
	display:none;
	}
.carousel-inner .item img{
	min-height:auto;
	}
.navbar-brand > img {
    width: 180px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background:#fff;
	}
.navbar-default .navbar-toggle{
	margin-right:0;
	}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #002060;
}
.navbar-default .navbar-nav > li:last-child, .cts1 .navbar-default .navbar-nav > li:last-child{
	background:none;
	    border-radius: 0;
	}
.navbar-default .navbar-nav > li:last-child a{
	color:#666!important;
	}
.navbar-nav {
    height: 100vh;
}
.banner-section .carousel-caption img,.c-text .themebtn{
	display:none;
	}
.banner-section .carousel-caption h1{
	font-size:20px;
	}
.seo-counter,.c-text h4{
	margin:0;
	width:100%;
	}
.seo-counter .single-box { 
    display: block; 
    text-align: center;
}
.seo-counter .single-box .number{
    font-size: 30px;
    color: #fd911e;
    display:block;
	}
.solution  ul li{
	width:100%;
	margin-bottom:50px;
	}
.solution ul li + li{
	margin:0;
	}
.c-text{
	height:38px;
	}
.c-text h4{
	font-size:11px;
	padding: 14px 0px 10px 60px;
	}
.testimonial-section p{
	padding:0;
	}
.leader ul{
	display:none;
	}
.leader h2{
	color:#333;
	}
.leader-text {
    padding-top: 268px;
	}

.leader .item{
	    background-size: contain!important;
	}
.leader-text h5{
	font-size:14px;
	}
.leader-text p{
	font-size:11px;
	color:#333;
	}
.brnd{
	margin-bottom:50px;
	}
.award > div > div > div {
	margin-bottom:50px;
	}
.award > div > div > div + div:before{
	display:none;
	}
.testimonial-section .owl-theme .owl-dots .owl-dot.active span, .testimonial-section .owl-theme .owl-dots .owl-dot:hover span{
	border:none;
	}
.testimonial-section ul {
    bottom: 83px;
}


.soft-cloud h1 span{
	font-size:40px;
	}


}

/*For landscape view in mobile*/
@media (min-width:480px) and (max-width: 767px) and (orientation:landscape) {

.leader-text {
    padding-top: 332px;
}
}
/*Mobile devices ends here*/


/*Tablet devices starts here (Portrait view)*/
@media (min-width:768px) and (max-width: 991px) {

}
/*Tablet devices ends here*/

/*Tablet devices starts here (landscape view)*/

@media (min-width:992px) and (max-width: 1199px)  {

}
