a{color: #222b72}a:hover,a:focus{color: #fff}.container{}.menu-wrap a{color: #EFEBEB}.menu-wrap a:hover,.menu-wrap a:focus{color: #c94e50}.content-wrap{overflow-y: scroll}.content{position: relative;background: #b4bad2}
.press_media .nav-tabs > li a{
	color: #f4f4f4;margin-right: 0
}
.press_media .nav-tabs > li{
	background-color: #222b72;margin: 0 6%
}
.press_media .nav-tabs > li:hover{
	background-color: #ff0000
}
.press_media .nav-tabs > li.active{
background-color: #ffe400;color: #333333
}
.yellbuttonMSG{margin: 0 auto}.yellbuttonMSG a{color: #000;border-radius: 15px !important;padding: 11px 40px;width
: 250px;font-weight: normal;border: 1px solid #ff0000;text-decoration: none}
.yellbuttonMSG a:hover{background: #222b82;color: #fff;text-decoration: none;border: 1px solid #222b82;border-radius: 5px}
.menu-wrap{
height: 100%;position: fixed !important
}
.press_media .nav-tabs > li > a{
border: 0px !important}.press_media .nav-tabs > li.active > a,.press_media .nav-tabs > li.active > a:hover,.press_media .nav-tabs > li.active > a:focus{color: #fff;background-color: #ff0000}.press_media ul.nav.nav-pills.nav-justified li a{font-size: 15px;padding: 12px !important}li.page-scroll 
a{font-size: 15px!important}ul.nav.nonsticky.nav-tabs.sticky{position: inherit}p.newslist{width: 100%;padding-left: 0px !important;position: relative !important;background-color: #fff;text-align: left !important;padding: 20px !important;padding-left: 50px}.press_media .nav-tabs{border: 0px !important}.press_media .tab-content{margin-top: 60px;margin-bottom: 60px}
.press_media .nav > li > a{
position: relative;
display: block;
padding: 15px 10px !important;
font-size: 30px
}.content::before{position: absolute;top: 0;left: 0;z-index: 10;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.9);content: '';opacity: 0}.career .carousel-inner .item img{width: 750px;text-align: center;margin: 0 auto}.career{padding: 60px 0px}.address{text-align: left}.online-support{text-align: left}.social i{padding: 23px;color: #333333}.social{font-size: 30px;margin: 20px}.menu-button{background: transparent none repeat scroll 0 0;border: medium none;color: transparent;font-size: 1.5em;height: 50px;line-height: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;text-indent: 2.5em;width: 55px}.menu-button::before{background: rgba(0, 0, 0, 0) linear-gradient(#373a47 10%, transparent 0%, transparent 50%, #373a47 0%, #373a47 60%, transparent 60%, transparent 90%, #373a47 10%) repeat scroll 0 0;bottom: 0.5em;content: "";height: 16.6px;left: 0.5em;margin-top: 4px;position: absolute;right: 0.5em;top: 0.5em}.menu-button:hover{opacity: 0.6}.close-button{width: 16px;height: 16px;position: absolute;right: 1em;top: 1em;overflow: hidden;text-indent: 16px;border: none;z-index: 1001;background: transparent;color: transparent}.close-button::before,.close-button::after{content: '';position: absolute;width: 2px;height: 100%;top: 0;left: 50%;background: #888}.close-button::before{transform: rotate(45deg);-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg)}.close-button::after{transform: rotate(-45deg);-ms-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg)}.menu-wrap{position: absolute;z-index: 1001;width: 280px;height: 100%;-webkit-transform: translate3d(290px, 0, 0);transform: translate3d(290px, 0, 0);-webkit-transition: -webkit-transform 0.4s;transition: transform 0.4s;float: right;right: 0;text-align: left;text-transform: uppercase}.menu{position: relative;z-index: 1000;padding: 3em 1em 0}.menu,.close-button{opacity: 0;-webkit-transform: translate3d(0px, 0, 0);transform: translate3d(0px, 0, 0);-webkit-transition: opacity 0s 0.3s, -webkit-transform 0s 0.3s;transition: opacity 0s 0.3s, transform 0s 0.3s;-webkit-transition-timing-function: cubic-bezier(.17, .67, .1, 1.27);transition-timing-function: cubic-bezier(.17, .67, .1, 1.27)}.icon-list a{display: block;padding: 0 0 10px}.icon-list i{font-size: 1.5em;vertical-align: middle;color: #282a35}.icon-list a span{margin-left: 10px;font-size: 15px;vertical-align: middle}.morph-shape{position: absolute;width: 100%;height: 100%;top: 0;right: 0;fill: #373a47}.show-menu .menu-wrap,.show-menu .content::before{-webkit-transition-delay: 0s;transition-delay: 0s}.show-menu .menu-wrap,.show-menu .menu,.show-menu .close-button,.show-menu .morph-shape,.show-menu .content::before{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}.show-menu .menu,.show-menu .close-button{opacity: 1;-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;transition: opacity 0.3s, transform 0.3s;-webkit-transition-delay: 0.4s;transition-delay: 0.4s}.show-menu .content::before{opacity: 1;-webkit-transition: opacity 0.4s;transition: opacity 0.4s}.menu-wrap{top: 0}.flip-container{border: 1px solid #ccc;transform: perspective(1000px);-ms-transform: perspective(1000px);-webkit-transform: perspective(1000px);-moz-transform: perspective(1000px);-o-transform: perspective(1000px);transform-style: preserve-3d}.flip-container:hover .back,.flip-container.hover .back{transform: rotateY(0deg);-ms-transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-o-transform: rotateY(0deg)}.flip-container:hover .front,.flip-container.hover .front{transform: rotateY(180deg);-ms-transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);-o-transform: rotateY(180deg)}.flip-container,.front,.back{border: medium none;min-height: 290px;text-align: center;width: 100%}.flipper{position: relative;transform: perspective(1000px);-ms-transform: perspective(1000px);-webkit-transform: perspective(1000px);-moz-transform: perspective(1000px);-o-transform: perspective(1000px);transform-style: preserve-3d;transition: all 0.6s ease 0s}.front,.back{backface-visibility: hidden;-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;-o-backface-visibility: hidden;left: 0;position: absolute;top: 0;transform: rotateY(0deg);-ms-transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-o-transform: rotateY(0deg);transform-style: preserve-3d;transition: all 0.6s ease 0s}.front{z-index: 2;background: none}.info{color: #fff;float: left;font-size: 18px;margin: 10px 0 0;width: 100%;text-transform: capitalize}.acc-content{margin: 15px;height: 350px}.acc-contentback{margin: 15px;height: 270px}.back{background: rgba(255, 255, 255, .85);transform: rotateY(-180deg);-ms-transform: rotateY(-180deg);-webkit-transform: rotateY(-180deg);-moz-transform: rotateY(-180deg);-o-transform: rotateY(-180deg);font-size: 10px !important;color: #000000}.front .name{background: none repeat scroll 0 0 rgba(33, 33, 33, 0.9);border-radius: 5px;bottom: 60px;color: #f8f8f8;display: none;font-family: Courier;font-size: 2em;left: 25%;padding: 5px 10px;position: absolute;text-shadow: 0.1em 0.1em 0.05em #333;transform: rotate(-20deg)}.back-logo{background: url("logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);height: 117px;left: 90px;position: absolute;top: 40px;width: 160px}.back-title{color: #00304a;font-family: Courier;font-size: 22px;font-weight: bold;left: 0;position: absolute;right: 0;text-align: center;text-shadow: 0.1em 0.1em 0.05em #acd7e5;top: 180px}.vertical.flip-container{position: relative}.vertical .back{transform: rotateX(180deg)}.vertical.flip-container .flipper{transform-origin: 100% 213.5px 0}.flipper .back p{color: #000000;padding: 10px;text-align: center;font-size: 14px;line-height: 21px}.vertical.flip-container:hover .back,.vertical.flip-container.hover .back{transform: rotateX(0deg)}.vertical.flip-container:hover .front,.vertical.flip-container.hover .front{transform: rotateX(180deg)}.sol .accordion-group.odd{margin: .5%;float: left}.sol .accordion-group{margin-bottom: 10px;width: 18%}.sol{text-align: left}.sol .accordion-group{margin-bottom: 10px;width: 19%}.sol .accordion-group.odd{margin: .5%;float: left}.sol .accordion-group.even{float: left;margin: .5%}.accordion-body{float: left;margin-top: 10px}.sol .accordion-heading{border: 1px solid #f4f4f4;padding: 10px;width: 100%;height: auto;min-height: 290px;float: left;margin-bottom: 15px}.sol .accordion-inner.odd{background: none repeat scroll 0 0 #faa41a;color: #fff;float: left;margin: 0 0 15px;width: 100%}.sol .accordion-inner p{color: #fff}.sol .accordion-inner.even{background: none repeat scroll 0 0 #faa41a;color: #fff;float: left;margin: 0 0 15px;width: 100%}.sol .accordion-heading.odd{background: #fff;color: #000}.sol .accordion-heading.even{background: #fff;color: #000}.home-section.main-service{padding-bottom: 30px;z-index: 102}.sol .accordion-heading a{color: #fff;text-decoration: none;text-transform: uppercase}.sol .accordion-inner{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;border-color: -moz-use-text-color #f9f9f9;border-image: none;border-right: 1px solid #f9f9f9;border-style: none solid solid;border-width: medium 1px 1px;padding: 20px;border: 1px solid #f9f9f9 !important;background: #f9f9f9}.sol{text-align: left}.sol .accordion-heading a{color: #fff;float: left;text-align: center;text-decoration: none;text-transform: uppercase;width: 100%}.col-md-2.cstmcss{width: 13.28%;border-top: 9px solid #fff;border-left: 9px solid #fff;margin-right: 1%;min-height: 65px}.col-md-2.cstmcss.cst7{margin-top: 30px}.col-md-2.cstmcss.cst6{margin-top: 60px}.col-md-2.cstmcss.cst5{margin-top: 90px}.col-md-2.cstmcss.cst4{margin-top: 120px}.col-md-2.cstmcss.cst3{margin-top: 150px}.col-md-2.cstmcss.cst2{margin-top: 180px}.col-md-2.cstmcss.cst1{margin-top: 210px}#service.graph{background: #faa41a}.col-md-2.cstmcss span{float: left;font-size: 14px;line-height: 21px;margin-top: 8px;text-align: left;text-transform: uppercase;color: #fff}.col-lg-10.col-lg-offset-1.animatedParent.zx.serbox{padding: 30px 0px}.middlebox{height: 290px;display: table-cell;vertical-align: middle;text-align: center;width: 1%;color: #ffffff;font-size: 12px}.navbar-collapse.collapse{display: block!important}.navbar-nav>li,.navbar-nav{float: left !important}.navbar-nav.navbar-right:last-child{margin-right: -15px !important}.navbar-right{float: right!important}.sticky{position: fixed;width: 100%;left: 0;top: 0;z-index: 100;border-top: 0}.navbar{border-width: 0;top: 0;position: fixed;width: 100%;border: 1px solid #f1f1f1;background: #fff;padding: 0px 20px;z-index: 999999}.bgimage2{height: auto;background: url(../images/section-bg.jpg);padding: 0 0 50px 0;float: left;width: 100%}.sec-2-carousel{float: left;width: 100%}.bgimage{height: 510px;background: url(../images/section-bg.jpg);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;padding: 30px 0 0 0;float: left;width: 100%}ol,ul{list-style: none}.text-center.sol{margin-top: 130px}.centertxt{padding-top: 25px}.calltoaction{float: left;margin: 0 auto;padding: 46px 0 60px;width: 100%}.yellbutton{margin: 0 auto}.yellbutton a{font-size: 20px;color: #000;border-radius: 15px !important;padding: 11px 40px;width: 250px;font-weight: normal;border: 1px solid #ff0000;text-decoration: none}nav.navbar.navbar-default.nav ul li:first-child a{border: none}
nav.navbar.navbar-default.nav ul li a{padding: 0 15px !important;margin: 15px 0}.yellbutton a:hover{background: #222b82;color: #fff;text-decoration: none;border: 1px solid #222b82;border-radius: 5px}div#myCarousel{}#myCarousel .nav a small{display: block}#myCarousel .nav{background: #eee}.cmn-bg-slide #myCarousel .nav{background: none !important}.nav-justified > li > a{border-radius: 0px}.nav-pills>li[data-slide-to="0"].active a{background-color: #16a085}.nav-pills>li[data-slide-to="1"].active a{background-color: #e67e22}.nav-pills>li[data-slide-to="2"].active a{background-color: #2980b9}.nav-pills>li[data-slide-to="3"].active a{background-color: #8e44ad}.carousel-inner .item img{width: 100%}.menu-wrap{z-index: 999999}.carousel-caption{padding: 20px;bottom: 90px;min-height: 230px;background: rgba(0, 0, 0, .1);box-shadow: 1px 1px 5px #171616;border: 1px solid rgba(0, 0, 0, .2)}.sec-2-carousel .namecap{font-size: 17px;margin-bottom: 20px;text-shadow: none;display: block}.sec-2-carousel .carousel-caption{bottom: 40px}.sec-2-carousel .carousel-control.left,.sec-2-carousel .carousel-control.right{margin-top: 180px}.sec-1-carousel .carousel-control.left,.sec-1-carousel .carousel-control.right{margin-top: 0}.carousel-control{font-size: 60px !important}ul.team{text-align: left;list-style: disc;margin-left: 20px;text-shadow: none;font-size: 15px}ul.team23{text-align: left;list-style: disc;text-shadow: none;margin-top: 10px;font-size: 15px}.carousel-caption p{font-size: 15px;line-height: 24px;text-align: left;margin-top: 15px;text-shadow: none}.namecap{font-size: 17px}.main{margin-top: 75px}section.casestudy{padding: 50px 0px}.centertxttitle{font-size: 30px;text-transform: uppercase;margin: 50px 0 40px 0;color: #222b82}.og-details p ul li{display: block;height: auto;width: 100%;line-height: 12px;list-style: number;font-size: 13px;list-style-type: circle}.cr1-1,.cr2-1,.cr3-1,.cr4-1,.cr5-1,.cr6-1{background-color: #717171;color: #fff;margin: 0 auto 5px;padding: 5px;width: 50%}.titlebox{background-color: #222b82;color: #ffffff;padding: 15px 5px;width: 50%;margin: 0 auto}.arrow-down{width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #222b82;margin-bottom: 5px;margin-left: 49%}.tt-wrapper1 .titlebox a{color: #fff;font-weight: 600}@media only screen and (max-width: 999px){.accordion-group.odd.animated.rotateInDownLeft.slowest{margin: 0 auto;width: 75%;float: none;margin-bottom: 20px}.navbar-header.page-scroll{width: 5%;float: left}}@media only screen and (max-width: 900px){.tt-wrapper{display: none}.tt-wrapper1{display: block}.centertxt{padding-top: 25px;display: none}a.carousel-control.right{}a.carousel-control.left{}ul.nav.nav-pills.nav-justified{display: none}.carousel-inner .item img{width: 100%;min-height: 300px}.og-grid li{display: inline-block;margin: 10px 5px 0 5px;vertical-align: top;width: 25%}.nav-tabs > li{margin: 0 3%}.nav > li > a{position: relative;display: block;padding: 15px 15px !important;font-size: 20px}.bgimage{background: #fff none repeat scroll 0 0;height: auto}.carousel-control.left{margin-left: 0}.carousel-control.right{margin-right: 0}.cmn-bg-slide{height: auto !important}.ff-container{width: 100% !important}.bgimage2{height: auto}}@media only screen and (min-width: 901px){.tt-wrapper{display: block}.tt-wrapper1{display: none}}a.carousel-control.right.news{margin-right: 10px !important;color: #333333;margin-top: 50px}a.carousel-control.left.news{margin-left: 10px !important;color: #333333;margin-top: 50px}
