<style>
*{	/*some reset code, nothing else*/
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin:0;
	padding:0;
}
#testimonials{
	background: #f8f8f8 url('quote.png') no-repeat 17px 21px;
	width:375px;
	height:200px;
	margin:10px auto;
	padding: 0px 0px 0px 0px;
	position:relative;
}
#testimonials .testimonial{
	position:absolute;
	left:0px;
	top:0px;
	
	width:338px;
	height:200px;
	z-index:1;
}
#testimonials h2{
	color:#f25911;
	font-size:22px;
	font-style:normal;
	line-height:22px;
	margin-bottom:10px;
}
#test_container{
	position:relative;
	
	overflow:hidden;
}
#testimonials .testimonial_text{
	font-size:14px;
	font-family:verdana;
	font-style:italic;
}
#testimonials .testimonial_name{
	font-size:14px;
	margin:10px auto 3px;
	font-style:normal;
	font-family:arial;
}
#testimonials .testimonial_designation{
	font-size: 12px;
	line-height: 14px;
	font-family:verdana;
}
#t_pagers{
	position:absolute;
	left:40%;
	bottom:10px;
	z-index:2;
}
#t_pagers .pager{
	
	text-decoration:none;
	width:10px;
	min-height:10px;
	margin-right:5px;
	background:#ccc;
	border-radius:50%;
	cursor:pointer;
}
#t_pagers .pager.active{
	background:#f25911;
}
</style>