      IMG.displayed { display: block; margin-left: auto; margin-right: auto }
    .texthead{ border-color:none;background-color:rgba(0, 123, 179, 0.79);font-weight:bold; text-align: center;}

      .featureList, .featureList ul {
margin-top: 0;
padding-left: 2em;
list-style-type: none;
}
.featureList li:before {
position: absolute;
margin-left: -1.3em;
font-weight: bold;

}
.featureList li.tick:before {
content: "\2713" ;
color: black;
}
.featureList li.cross:before {
content: "&#10004";
color: crimson;
font-size: 20px;
}
.FontGorgia{

color:black;
font-family :Georgia;
font-size:16px;

}

.FontGorgiaCenter{

color:black;
text-align: center;
font-family :Georgia;
font-size:18px;

}

ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: #eee;
    margin-bottom: 50px;
    font-size: 14px;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "\00bb";
}

.email-address:before {
   content: "\03b9" ;
}
ul.breadcrumb li a {color: green;}
