/*TGM 3 -11-2017- prakash*/

@font-face {
    font-family:Sinkin-Sans-extra-thin;
    src: url(../fonts/sinkin-sans-light.otf);
}
@font-face {
    font-family:Sinkin-Sans-thin;
    src: url(../fonts/sinkin-sans3-light.otf);
}
@font-face {
    font-family:Sinkin-Sans-regular;
    src: url(../fonts/sinkin-sans-regular.otf);
}
@font-face {
    font-family:Sinkin-Sans-medium;
    src: url(../fonts/sinkin-sans-medium.otf);
}
@font-face {
    font-family:Sinkin-Sans-semibold;
	    src: url(../fonts/sinkin-sans-semibold.otf);
}
html {
	font-size: 100%;
}
body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding-top: 92px;	
	color:#777;
}
h3 {
    font-family:Sinkin-Sans-regular;
}
.section-title {
	margin: 25px 0;
	padding-bottom: 18px;
	position: relative;
	font-size: 1.4em;
	font-family: Sinkin-Sans-regular;
	color: #333;
}
.navbar ul li {
display: inline-block;
margin-left: 20px;
margin-top: 34px;	
}
.navbar ul li a {
color:#333;
text-decoration: none !important;
font-size: 15px;
font-weight: 600;
}
.navbar ul li a:hover {
color:#FF931E;	
}
.navbar-brand {
height: auto;	
}
#hero {
padding-bottom: 50px;
padding-top: 25px;	
}
#hero h2 a {
display: inline-block;
margin-top: 10px;
color:#FF931E;
text-decoration: none;	
}
#hero ul li, .int li, .ftbg ul li {
	background: url(../landingpageImg/mark.jpg) no-repeat top 8px left 0px;
	padding-left: 20px;
	list-style: none;
	margin-bottom: 7px;
	color:#777;
}
#hero form {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;
}
#hero form .help-block {
font-size: 16px;
margin:5px 0 15px 0;	
}
#hero form .form-control {
border-radius: 0;
min-height:42px;	
}
#hero form select {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
background: url(../landingpageImg/arrow.png) no-repeat top 16px right 10px;	
}
#hero form .btn {
background: #FF931E;
color:white;	
border-radius: 0;
padding:10px 20px;
font-size: 1.1em;
    font-family:Sinkin-Sans-semibold;
}
#clients {
background: #eff1f3;	
padding: 25px  0 50px 0;
}
#clients ul.cts {
display: flex;
justify-content:space-between;
align-items:center;
}
#clients ul.cts li {
display: flex;
justify-content:center;
align-items:center;
padding:15px;
background: white;
width: 208px;
height: 125px;
text-align: center;	
}
#clients ul li img {
height: auto;
max-width: 190px;	
}
.int li {
margin-bottom: 10px;
font-size: 15px;	
}
#clients hr {
border-top-color:#dbddde;	
margin: 55px 0 45px 0;
}
.ftbg > div {
background: white;
margin-top: 50px;
height: 232px;	
}
.ftbg > div {
padding: 0 25px 25px;	
}
.ftbg > div img {
margin-top: -50px;
}
.ftbg > div  h3 {
font-size: 20px;
color:#333;	
}
.ftbg ul li {
text-align: left;	
}
#features {
padding-top: 25px;	
padding-bottom: 50px;
}
#features div h3 {
font-size: 20px;	
color:#333;
}
#features div p {
text-align: justify;	
    font-family:Sinkin-Sans-thin;
	font-size: 13px;
	line-height:23px;
}
/*Testimonial starts here*/
.testimonial-section {
position: relative;	
z-index:1;
background:#eff1f3;
padding-top: 25px;
padding-bottom: 50px;
}
.testimonial-section .owl-item {
	padding-top: 35px;
	margin-top: 35px;
}
.testimonial-section .item {
background: #fff;
padding:86px 20px 15px 20px;
text-align: center;	
position: relative;
margin-bottom: 35px;
height: 365px;
}
 .testimonial-section .item .client-image {
	position: absolute;
	top: -36px;
	left: 0;
	right: 0;
	margin: auto !important;
	width: 109px;
	border-radius: 100%;
	border: 4px solid #e4e4e4;
	height: 109px;
}
.testimonial-section h6 {
position: absolute;
bottom: 15px;
left: 0;
right: 0;
text-align: center;	
}
  .testimonial-section h6 small, .testimonial-section h6 {
font-size:1em;
display: block;
width: 100%;
text-transform: none;	
margin-top: 4px;
color:#ed1f24;
}
.owl-dot span {
background: #cfcfcf !important;
width:10px;
height:10px;
border-radius:100%;
display: inline-block;
}
.testimonial-section .owl-dot.active span, .testimonial-section .owl-dot:hover span {
background: #575757 !important;	
}
.testimonial-section .owl-dot {
	display: inline-block;
	margin: 2px;
}
/*Testimonial ends here*/
/***testimonial starts here*********/
.testimonial .item p {
  border-bottom: 1px solid #ccc;
  margin-bottom: 17px;
  padding: 32px 0 32px 64px;
  position: relative;
  text-align: justify;
}
.testimonial .item p::before {
  background-image: url("assets/images/testimonials-icon.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  height: 38px;
  left: 0;
  position: absolute;
  top: 38px;
  width: 44px;
}
.testimonial .item h5{
    color: #d22929;
    font-size: 15px;
	text-transform: capitalize;
}
/*****testimonial ends here*****/
/* footer section */
footer {
	background: url("../img/footer_bg.jpg") 0 0 repeat;
	min-height: 10px;
	color: #fff;
	padding: 25px 0 15px 0;
}
.i_bars, .i_bookmark, .i_chart, .i_cloud, .i_facebook, .i_loading, .i_movil, .i_shuffle, .i_twitter, .i_youtube {
	background: url('../img/icons.png') no-repeat;
	display: inline-block;
}
.i_twitter {
	background-position: 0 -351px;
	width: 24px;
	height: 18px;
}
footer a {
color:white !important;
text-decoration: none !important;	
}



/*JUmbotron size of larger desktop  screen*/
@media (min-width:1600px) {

}
/*this part is only for common layouts in mobile and tablets*/
@media (max-width: 991px) { 
.testimonial-section .item {
height: auto;
padding-bottom: 80px;	
}
}

/*For mobile devices*/
@media (max-width: 767px) {
	body {
	padding-top: 60px;	
	}
.navbar-default {
position: absolute !important;	
}
.navbar-brand > img {
height: auto;
max-width: 100px;
margin-left: -15px;	
}
.navbar ul li {
	display: block;
	text-align: right;
	margin-top: 3px;
	font-size: 15px;
}
.navbar ul li a {
font-size: 13px;	
}
.section-title {
	font-size: 1.1em;
	line-height: 25px;
}
#clients ul {
flex-direction:column;	
}
#clients ul li {
margin-bottom: 15px;	
}
#features .col-sm-4 {
margin-bottom: 20px;	
}
.ftbg {
margin-bottom: 80px;	
}
footer p {
text-align: left;	
}
 }
/*For landscape view in mobile*/
@media (min-width:480px) and (max-width: 767px) and (orientation:landscape) { 
#clients ul {
flex-direction:row;
flex-wrap:wrap;	
justify-content:center;
}
#clients ul li {
width: 180px;
margin-left: 15px;	
}
#features img {
margin: auto;
display: block;	
}
.testimonial-section .owl-item {
margin-top: 0;	
}
}
/*Mobile devices ends here*/

/*Tablet devices starts here (Portrait view)*/
@media (min-width:768px) and (max-width: 991px) {
#clients ul {
display: block;	
}
#clients ul li {
display: inline-flex;
padding:10px;
width: 138px;	
}
#clients ul li img {
max-width: 100%;
height: auto;	
}
}
/*Tablet devices ends here*/

/*Tablet devices starts here (landscape view)*/
@media (min-width:992px) and (max-width: 1199px) and (orientation:landscape) {
	#clients ul li {
	width: 183px;	
	}
.testimonial-section .item {
height: 425px;	
}
}
