.recaptchatable .recaptcha_r1_c1{background:transparent url(sprite.png) no-repeat scroll 0 -63px !important;}
.recaptchatable .recaptcha_r2_c1{background:transparent url(sprite.png) no-repeat scroll -18px 0 !important;}
.recaptchatable .recaptcha_r2_c2{background:transparent url(sprite.png) no-repeat scroll -27px 0 !important;}
.recaptchatable .recaptcha_r3_c1{background:transparent url(sprite.png) no-repeat scroll 0 0 !important;}
.recaptchatable .recaptcha_r3_c2{background:transparent url(sprite.png) no-repeat scroll -18px -57px !important;}
.recaptchatable .recaptcha_r3_c3{background:transparent url(sprite.png) no-repeat scroll -9px 0 !important;}
.recaptchatable .recaptcha_r4_c1{background:transparent url(sprite.png) no-repeat scroll -43px 0 !important;}
.recaptchatable .recaptcha_r4_c2{background:transparent url(sprite.png) no-repeat scroll -36px 0 !important;}
.recaptchatable .recaptcha_r4_c4{background:transparent url(sprite.png) no-repeat scroll -214px 0 !important;}
.recaptchatable .recaptcha_r7_c1{background:transparent url(sprite.png) no-repeat scroll -43px -49px !important;}
.recaptchatable .recaptcha_r8_c1{background:transparent url(sprite.png) no-repeat scroll -43px -49px !important;}
.recaptcha_theme_red #recaptcha_response_field{border:1px solid #92B6EB !important;}
.recaptchatable #recaptcha_response_field{bottom:7px !important;font-size:10pt;margin:0 !important;padding:0 !important;position:absolute !important;width:145px !important;height:20px !important;}