div.scrollingHotSpotLeft{min-width:75px;width:10%;height:100%;background-image:url(../images/big_transparent.gif);background-repeat:repeat;background-position:center center;position:absolute;z-index:200;left:0;cursor:url(../images/cursors/cursor_arrow_left.png), url(../images/cursors/cursor_arrow_left.cur),w-resize;}
div.scrollingHotSpotLeftVisible{background-image:url(../images/arrow_left.gif);background-color:#fff;background-repeat:no-repeat;opacity:0.35;-moz-opacity:0.35;filter:alpha(opacity = 35);zoom:1;}
div.scrollingHotSpotRight{min-width:75px;width:10%;height:100%;background-image:url(../images/big_transparent.gif);background-repeat:repeat;background-position:center center;position:absolute;z-index:200;right:0;cursor:url(../images/cursors/cursor_arrow_right.png), url(../images/cursors/cursor_arrow_right.cur),e-resize;}
div.scrollingHotSpotRightVisible{background-image:url(../images/arrow_right.gif);background-color:#fff;background-repeat:no-repeat;opacity:0.35;filter:alpha(opacity = 35);-moz-opacity:0.35;zoom:1;}
div.scrollWrapper{position:relative;overflow:hidden;width:100%;height:100%;}
div.scrollableArea{position:relative;width:auto;height:100%;}