

            <!--div class="container">

               <div class="navbar-header"><a class="navbar-brand" href="index.html"><img src=" images/logo.png" alt="Ozonetel-Logo"></a></div>

               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                  <ul class="nav navbar-nav navbar-right">

          <!--<li class="page-scroll askhdn"><a href="signup.html">ASK FOR A DEMO</a></li>  -->

             <!--li class="dropdown">

               <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Solutions<b class="caret"></b></a>

                <ul class="dropdown-menu multi-column columns-3" >

                  <div class="row" style="color: #3498db;">

                     <div class="col-sm-4 col-xs-4">

                        <ul class="multi-column-dropdown">



                          <div class="row text-center"> Products </div>

                           <li><a href="Call-Center-Software-Solutions.html" >Cloudagent India</a></li>

                           <li><a href="https://cloudagent.io/" >Cloudagent Global</a></li>

                           <li><a href="https://ozonetel.com/Cloud-PBX-System-for-Businesses.html" >Cloudagent-lite</a></li>

                           <li><a href="Cloud-Communication-Solutions.html" >Brandagent</a></li>

                           <li><a href="https://www.kookoo.in/" >KooKoo Platform</a></li>

                           <li><a href="http://speech.ozonetel.com/" >Dhvani</a></li>

                         </ul>

                     </div>



                     <!--div class="col-sm-8 col-xs-8">

                        <ul class="multi-column-dropdown">

                         <div class="row text-center"> Features </div>

                          <div class="col-sm-6 col-xs-6">





                                 <li><a href="Cloud-Call-Centre-Solutions.html" >Contact Center Solution</a></li>

                                 <li><a href=" Call-Center-CRM-Integration.html" >CTI Integration</a></li>

                                 <li><a href=" Dialer-Software.html" >Dialer Software</a></li>

                                 <li><a href=" Inbound-Call-Center-Solutions.html" >Inbound Call Center </a></li>

                                 <li><a href=" Outbound-Call-Center-Solutions.html" >Outbound Call Center </a></li>



                                 <li><a href=" Live-Chat-Software.html" >Live Chat Software</a></li>





                           </div>





                            <div class="col-sm-6 col-xs-6">



                              <li><a href=" Virtual-Receptionist.html" >Virtual Receptionist</a></li>

                              <li><a href=" Cloud-Telephony-Features/IVR-System.html" >IVR System</a></li>

                              <li><a href=" Cloud-Telephony-Features/Missed-Call-Services.html" >Missed Call Services</a></li>



                              <li><a href=" Virtual-Phone-Number.html" >Virtual Phone Number</a></li>



                              <li><a href=" Toll-Free-Number-Services.html" >Toll Free Number Service</a></li>





                              <li><a href=" SMS-Services.html" >SMS Service</a></li>  </div>





                         </ul>

                        </div>





                  </div>

               </ul>

               </li>



               <!--li class="dropdown">

                   <!--a class="dropdown-toggle" data-toggle="dropdown" href="index-2.html#">Resources<span class="caret"></span></a>

                    <!--ul class="dropdown-menu">

                            <li><a href=" CTI-Integration.html" >Integrations</a></li>

                           <li><a href=" casestudies.html" >Casestudies</a></li>

                           <li><a href=" CloudTelephony-Guides.html" >Knowledge Base</a></li>

                           <li><a href="http://blog.ozonetel.com/" >Blog</a></li>



                     </ul>

               </li>



               <!--li class="dropdown">

                   <a class="dropdown-toggle" data-toggle="dropdown" href="index-2.html#">Industry<span class="caret"></span></a>

                    <!--ul class="dropdown-menu">

                           <li><a href=" Cloud-Call-Center-for-eCommerce-Industry.html" >eCommerce</a></li>

                           <li><a href=" Communication-Solution-for-Travel-Industry.html" >Travel</a></li>

                           <li><a href=" Communication-Solution-for-Healthcare-Industry.html" > HealthCare</a></li>

                           <li><a href=" Cloud-Call-Center-in-Insurance-Sector.html" > BFSI </a></li>

                           <li><a href=" Cloud-Call-Center-for-Manufacturing-Sector.html" > Manufacturing </a></li>

                          



                     </ul>

               </li>





                     <!--li class="page-scroll askhdn" ><a class="button" style="border-style:solid;border-color:red;font-weight:bold;" href="signup.html">TRY FREE DEMO</a></li>

                     <!--<li class="page-scroll"><a href="tel:+18559563030">1-855-956-3030 (US)</a></li>-->

                     <!--li class="page-scroll"><a href="tel:+18002000820">1-800-200-0820 (India)</a></li>

                     <li class="page-scroll "><a href="https://cloudagent.in/login.html">LOGIN</a></li>

                    <!-- <li class="page-scroll"><button class="menu-button" id="open-button">Open Menu</button></li> -->

                  <!--/ul-->

               <!--/div>

            </div-->



			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="index.html"><img src="http://wddupdates.com/html/ozonetel/images/logo.png"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="text-right">
                <ul class="nav-top">
                     <li><a class="" href="tel:+1-559- 888-7084">+1-559- 888-7084 (US)</a></li>
                    <li><a href="tel:07961343634">&nbsp;&nbsp;07961343634 (IND)</a></li>
                 </ul>
             </div>
			<ul class="nav navbar-nav text-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solutions<span class="caret"></span></a>			 <ul class="dropdown-menu multi-column columns-3" >

                  <div class="row" style="color: #3498db;">

                     <div class="col-sm-4 col-xs-12">

                        <ul class="multi-column-dropdown">



                          <div class="row text-center"> Products </div>

                           <li><a href="Call-Center-Software-Solutions.html" >KOOKOO CloudAgent India</a></li>

                           <li><a href="https://cloudagent.io/"  target="_blank">KOOKOO CloudAgent Global</a></li>

                           <li><a href="Cloud-PBX-System-for-Businesses.html" >CloudAgent-lite</a></li>

                           <li><a href="Cloud-Communication-Solutions.html" >Brandagent</a></li>

                           <li><a href="https://www.kookoo.in/" target="_blank">KooKoo Platform</a></li>

                           <li><a href="http://speech.ozonetel.com/" target="_blank">Dhvani</a></li>

                         </ul>

                     </div>



                    <div class="col-sm-8 col-xs-12">

                        <ul class="multi-column-dropdown">

                         <div class="row text-center"> Features </div>

                          <div class="col-sm-6 col-xs-12 sub-menu-part">





                                 <li><a href="Cloud-Call-Centre-Solutions.html" >Contact Center Solution</a></li>

                                 <li><a href=" Call-Center-CRM-Integration.html" >CTI Integration</a></li>

                                 <li><a href=" Dialer-Software.html" >Dialer Software</a></li>

                                 <li><a href=" Inbound-Call-Center-Solutions.html" >Inbound Call Center </a></li>

                                 <li><a href=" Outbound-Call-Center-Solutions.html" >Outbound Call Center </a></li>



                                 <li><a href=" Live-Chat-Software.html" >Live Chat Software</a></li>





                           </div>





                            <div class="col-sm-6 col-xs-12 sub-menu-part">



                              <li><a href="Virtual-Receptionist.html" >Virtual Receptionist</a></li>

                              <li><a href="Cloud-Telephony-Features/IVR-System.html" >IVR System</a></li>

                              <li><a href="Cloud-Telephony-Features/Missed-Call-Services.html" >Missed Call Services</a></li>



                              <li><a href="Virtual-Phone-Number.html" >Virtual Phone Number</a></li>



                              <li><a href=" Toll-Free-Number-Services.html" >Toll Free Number Service</a></li>





                              <li><a href=" SMS-Services.html" >SMS Service</a></li>  </div>





                         </ul>

                        </div>





                  </div>

               </ul>
                       
                
                </li>	
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
                	  <ul class="dropdown-menu">

                            <li><a href=" CTI-Integration.html" >Integrations</a></li>

                           <li><a href="casestudies.html" >Casestudies</a></li>

                           <li><a href="CloudTelephony-Guides.html" >Knowledge Base</a></li>

                           <li><a href="http://blog.ozonetel.com/" target="_blank">Blog</a></li>



                     </ul>

                </li>	
				 <li class="dropdown">

                   <a class="dropdown-toggle" data-toggle="dropdown" href="index.html#">Industry<span class="caret"></span></a>

                    <ul class="dropdown-menu">

                           <li><a href=" Cloud-Call-Center-for-eCommerce-Industry.html" >eCommerce</a></li>

                           <li><a href=" Communication-Solution-for-Travel-Industry.html" >Travel</a></li>

                           <li><a href=" Communication-Solution-for-Healthcare-Industry.html" > HealthCare</a></li>

                           <li><a href=" Cloud-Call-Center-in-Insurance-Sector.html" > BFSI </a></li>

                           <li><a href=" Cloud-Call-Center-for-Manufacturing-Sector.html" > Manufacturing </a></li>

                          



                     </ul>

               </li>	
				<li><a href="#Lead">try free demo</a></li>	
				
			  </ul>
			</div><!-- /.navbar-collapse -->
	
