.alert-danger{
	background-color: #ff0000;
	border-color: #ff0000;
	color: #0000000
}
.alert-danger hr{border-top-color: #e43725}


.navbar-default a{
	border-color: white;
	color: #000000 !important}

.btn-info{
	color: #ffffff;
    background-color: #00bfff;
    border-color: #ffffff;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: bold;
	color: #ffffff	;
}

.alert {
    padding: 10px;
    margin-bottom: 5px;
}

