 <div class="container">
            <div class="ft-inner">
               <ul class="ft one col-md-2 col-sm-2 col-xs-12">
                  <li><a href="http://ozonetel.com/index.html#why">Why Ozonetel</a></li>
                  <li><a href="http://ozonetel.com/index.html#about">About Us</a></li>
                  <li><a href="http://ozonetel.com/index.html#client">Clients</a></li>
                  <li><a href="http://ozonetel.com/media.html">Press & Media</a></li> 
                  <li><a href="http://ozonetel.com/careers.html">Careers</a></li>
                  <li><a href="http://ozonetel.com/contactus.html">Contact Us</a></li> 
                   <li><a href="http://ozonetel.com/Partners.html" target="_blank" style="color:#00bfff"><b>Channel Partner</b></a></li>  
                 
                  <li><a href="http://ozonetel.com/CallCenterforSmallBusiness.html" target="_blank" style="color:#00bfff"><b>Special Startup Plan</b></a></li> 
                  <li><a href="https://ozonetel.zendesk.com/hc/en-us/restricted?return_to=https%3A%2F%2Fozonetel.zendesk.com%2Fhc%2Fen-us" target="_blank">Support</a></li>
                                 
                  
               </ul>

               
               <ul class="ft two col-md-3 col-sm-3 col-xs-12">
                  
                   <li style="color:white;"><u>Resource</u></li>   
               
                  <li><a href="http://ozonetel.com/What-is-cloud-telephony-solutions.html" target="_blank">What is Cloud Telephony?</a></li>
                  <li><a href="http://ozonetel.com/VOIP-in-India.html" target="_blank">Understand VoIP in India</a></li>  
                  <li><a href="http://ozonetel.com/Resources/Toll-Free-Number-in-India.html" target="_blank">Basics of Toll free number </a></li> 
                  <li><a href="http://ozonetel.com/Resources/How-to-choose-an-IVR-Service-Provider-for-business.html" target="_blank">How to choose an IVR service provider </a></li>  
                  <li><a href="http://ozonetel.com/Resources/Key-Metrics-Call-Center.html" target="_blank">Key metrics of contact center </a></li>  
                     
                  <li><a href="http://ozonetel.com/SaaS-Call-Center-Setup.html" target="_blank" style="color:#00bfff">How to setup a call center?</a></li>  
                                                                                         
                  <li><a href="http://ozonetel.com/Telemarketing-Software.html" target="_blank" style="color:#00bfff">Telemarketing Setup </a></li>  

                  <li><a href="http://ozonetel.com/CloudTelephony-CallCenter-Glossary.html" target="_blank"><b>Glossary</b></a></li>     
                                                 
               </ul>

               <ul class="ft three col-md-2 col-sm-2 col-xs-12">
                  <li style="color:white;"><u>Products</u></li>
                           <li><a href="http://ozonetel.com/Call-Center-Software-Solutions.html" target="_blank">Cloudagent India</a></li>                     
                           <li><a href="http://ci.ozonetel.com" target="_blank">Cloudagent Global</a></li>
                           <li><a href="http://ozonetel.com/Cloud-PBX-System-for-Businesses.html" target="_blank">Cloudagent-lite</a></li>
                           <li><a href="http://ozonetel.com/Cloud-Communication-Solutions.html" target="_blank">Brandagent</a></li>
                           <li><a href="http://kookoo.ozonetel.com" target="_blank">KooKoo Platform</a></li>
                           <li><a href="http://speech.ozonetel.com" target="_blank">Dhvani</a></li>   
                           <li><a href="http://getkookoo.com/" target="_blank">GetKooKoo</a></li>              
               </ul>

               <ul class="ft three col-md-2 col-sm-2 col-xs-12">
                  <li style="color:white;"><u>GetKookoo Features</u></li>
                           <li><a href="http://getkookoo.com/cloud-contact-center/" target="_blank">SMB cloud contact center</a></li>                     
                           <li><a href="http://getkookoo.com/crm-lite/" target="_blank">CRM Lite</a></li>
                           <li><a href="http://getkookoo.com/live-chat/" target="_blank">Live Chat</a></li>
                           <li><a href="http://getkookoo.com/real-time-insights/" target="_blank">Live Analytics</a></li>
                           <li><a href="http://getkookoo.com/ivr-interactive-voice-response/" target="_blank">IVR System</a></li>
                           <li><a href="http://getkookoo.com/toll-free-number/" target="_blank">Get Toll free number</a></li>   
                           <li><a href="http://getkookoo.com/cloud-pbx/" target="_blank">Cloud PBX</a></li>              
               </ul>

               <ul class="ft four col-md-3 col-sm-3 col-xs-12">
                  <li><a href="http://www.twitter.com/OzonetelSystems" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://plus.google.com/u/2/110752863852757972950/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="https://www.facebook.com/pages/Ozonetel-Systems/920582497982210" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.youtube.com/user/OzonetelSystems"><i class="fa fa-youtube" target="_blank"></i></a></li>
                  <li><a href="https://www.linkedin.com/company/ozonetel-systems"><i class="fa fa-linkedin" target="_blank"></i></a></li>

               </ul>
            </div>
         </div>     
       