<!-- <div class="container">

<div class="ft-inner">

<ul class="ft one col-md-2 col-sm-2 col-xs-12">

<li><a href="index-2.html#why">Why Ozonetel</a></li>

<li><a href="index-2.html#about">About Us</a></li>

<li><a href="index-2.html#client">Clients</a></li>

<li><a href="media.html">Press & Media</a></li>

<li><a href="careers.html">Careers</a></li>

<li><a href="contactus.html">Contact Us</a></li>

<li><a href="Partners.html" target="_blank" style="color:#00bfff"><b>Channel Partner</b></a></li>



<li><a href="CallCenterforSmallBusiness.html" target="_blank" style="color:#00bfff"><b>Special Startup Plan</b></a></li>

<li><a href="https://ozonetel.zendesk.com/hc/en-us/restricted?return_to=https%3A%2F%2Fozonetel.zendesk.com%2Fhc%2Fen-us" target="_blank">Support</a></li>





</ul>





<ul class="ft two col-md-3 col-sm-3 col-xs-12">



<li style="color:white;"><u>Resource</u></li>



<li><a href="What-is-cloud-telephony-solutions.html" target="_blank">What is Cloud Telephony?</a></li>

<li><a href="http://ozonetel.com/VOIP-in-India.html" target="_blank">Understand VoIP in India</a></li>

<li><a href="http://ozonetel.com/Resources/Toll-Free-Number-in-India.html" target="_blank">Basics of Toll free number </a></li>

<li><a href="http://ozonetel.com/Resources/How-to-choose-an-IVR-Service-Provider-for-business.html" target="_blank">How to choose an IVR service provider </a></li>

<li><a href="Resources/Key-Metrics-Call-Center.html" target="_blank">Key metrics of contact center </a></li>



<li><a href="SaaS-Call-Center-Setup.html" target="_blank" style="color:#00bfff">How to setup a call center?</a></li>



<li><a href="Telemarketing-Software.html" target="_blank" style="color:#00bfff">Telemarketing Setup </a></li>



<li><a href="CloudTelephony-CallCenter-Glossary.html" target="_blank"><b>Glossary</b></a></li>



</ul>



<ul class="ft three col-md-2 col-sm-2 col-xs-12">

<li style="color:white;"><u>Products</u></li>

<li><a href="Call-Center-Software-Solutions.html" target="_blank">Cloudagent India</a></li>

<li><a href="https://cloudagent.io/" target="_blank">Cloudagent Global</a></li>

<li><a href="Cloud-PBX-System-for-Businesses.html" target="_blank">Cloudagent-lite</a></li>

<li><a href="Cloud-Communication-Solutions.html" target="_blank">Brandagent</a></li>

<li><a href="http://kookoo.ozonetel.com/" target="_blank">KooKoo Platform</a></li>

<li><a href="http://speech.ozonetel.com/" target="_blank">Dhvani</a></li>

<li><a href="http://getkookoo.com/" target="_blank">GetKooKoo</a></li>

</ul>



<ul class="ft four col-md-3 col-sm-3 col-xs-12">

<li><a href="http://www.twitter.com/OzonetelSystems" target="_blank"><i class="fa fa-twitter"></i></a></li>

<li><a href="https://plus.google.com/u/2/110752863852757972950/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>

<li><a href="https://www.facebook.com/pages/Ozonetel-Systems/920582497982210" target="_blank"><i class="fa fa-facebook"></i></a></li>

<li><a href="https://www.youtube.com/user/OzonetelSystems"><i class="fa fa-youtube" target="_blank"></i></a></li>

<li><a href="https://www.linkedin.com/company/ozonetel-systems"><i class="fa fa-linkedin" target="_blank"></i></a></li>



</ul>

</div>

</div>

-->

<div class="container">
  <div class="row">
    <div class="col-sm-4 logo-box">
      <img src="images/footer-img.png" alt="">
      <p class="txt-clr">Ozonetel Communications - <br>
        Pioneer of cloud communication solutions</p>
        <p class="f-market">Cloud call center - IVR System - Mobile Marketing.</p>
        <p><span>USA&nbsp;&nbsp; :</span><a href="tel:+1-855-956-3030" >+1-855-956-3030 (Toll Free)</a><br/>
           <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span><a href="tel:+1-559-888-7084" >+1-559-888-7084 (Direct)</a></p>
        <p><span>UAE&nbsp;&nbsp; :</span><a href="tel:+97145260004" >+971-4526-0004</a><br/>
        <p> <span>India :</span><a href="tel:1-800-200-0820">1-800-200-0820 (Toll Free)</a><br/>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span><a href="tel:914066588402">040-66588402 (Direct)</a> <br/>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span><a href="tel:918066084087">080-66084087 (Direct)</a>

         </p>
        <p class="follow">Follow Us</p>
        <ul class="list-unstyled i-social">
          <li class="f"><a target="_blank" href="https://www.facebook.com/pages/Ozonetel-Systems/920582497982210"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li class="e"><a target="_blank" href="https://plus.google.com/u/0/110752863852757972950"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li class="l"><a target="_blank" href="https://www.linkedin.com/company/ozonetel-systems"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li class="t"><a target="_blank" href="https://twitter.com/Ozonetel_KOOKOO"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="y"><a target="_blank" href="https://www.youtube.com/user/OzonetelSystems"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        </ul>
        <p class="follow"><a style="font-size: 15px;
          color: #fd911e;" href="contactus.html">Contact Us</a></p>
        </div>
        <div class="col-sm-4 footer-menu">
          <!-- <h5>Features</h5> -->
          <h5>Knowledge Base</h5>
          <ul class="list-unstyled">
            <!-- <li><a href="Cloud-Call-Centre-Solutions.html">Contact Center Solution</a></li>
            <li><a href="Call-Center-CRM-Integration.html">CTI Integration</a></li>
            <li><a href="Dialer-Software.html">Dialer Software</a></li>
            <li><a href="Inbound-Call-Center-Solutions.html">Inbound Call Center</a></li>
            <li><a href="Outbound-Call-Center-Solutions.html">Outbound Call Center</a></li>
            <li><a href="Live-Chat-Software.html">Live Chat Software</a></li>
            <li><a href="Virtual-Receptionist.html">Virtual Receptionist</a></li>
            <li><a href="Cloud-Telephony-Features/IVR-System.html">IVR System</a></li>
            <li><a href="Cloud-Telephony-Features/Missed-Call-Services.html">Missed Call Services</a></li>
            <li><a href="Virtual-Phone-Number.html">Virtual Phone Number</a></li>
            <li><a href="Toll-Free-Number-Services.html">Toll Free Number Service</a></li>
            <li><a href="SMS-Services.html">SMS Service</a></li> -->
            <li><a href="Resources/Choose-Right-Call-Center-Software.html">Choosing the right contact center solution</a></li>
            <li><a href="Resources/International-cloud-call-center-solution.html">Running your international support desk</a></li>
            <li><a href="Resources/Understand-webrtc-usage-in-contact-center.html">Understand WebRTC</a></li>
            <li><a href="Resources/How-to-choose-an-IVR-Service-Provider-for-business.html">Choosing an IVR for your company</a></li>
            <li><a href="Resources/VoIP-SIP-and-internet-calling.html">VOIP, SIP and SIP trunk usage</a></li>
            <li><a href="CloudTelephony-Guides.html">Read more</a></li>
            <li>&nbsp;</li>

          </ul>
          <h5>Legal</h5>
          <ul class="list-unstyled">
            <li><a href="Ozonetel_GDPR_compliant_Privacy_Policy.pdf">Privacy Policy</a></li>
              <li>&nbsp;</li>
          </ul>
        </div>
        <div class="col-sm-4 footer-menu-r">
          <h5>Products</h5>
          <ul class="list-unstyled">
            <li><a href="Inbound-Call-Center-Solutions.html">Inbound Call Centre Solutions</a></li>
            <li><a href="Outbound-Call-Center-Solutions.html">Outbound Call Center Solutions</a></li>

          </ul>
          <h5>Industry</h5>

          <ul class="list-unstyled">
            <li><a href="Cloud-Call-Center-for-eCommerce-Industry.html">eCommerce</a></li>
            <li><a href="Communication-Solution-for-Travel-Industry.html">Travel</a></li>
            <li><a href="Communication-Solution-for-Healthcare-Industry.html">HealthCare</a></li>
            <li><a href="Cloud-Call-Center-in-Insurance-Sector.html">BFSI</a></li>
            <li><a href="Cloud-Call-Center-for-Manufacturing-Sector.html">Manufacturing</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="f-info">
      <div class="container text-center">
        ©2017 All Copyrights OZONETEL
      </div>
    </div>
  </div>
</div>
