<div class="container-fluid">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand"> <img src="image/kookoologo.jpg" class="Kookoo-Header-Logo" />
                    </a>
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navheadercollapse" style="padding-top: 20px">
                        <span class="icon-bar" style="color:black"></span>
                        <span class="icon-bar" style="color:black"></span>
                        <span class="icon-bar" style="color:black"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navheadercollapse ">
                    <ul class="nav navbar-nav  navbar-right" style="height: 60px; margin-top: 0px; padding-top: 15px;">
                        <li><a href="kookoo-cloud-call-center-solution.html" class="active FOR-BUSINESSES-FOR-DEVELOPERS-SOLUTIONS ">FOR BUSINESSES</a></li>
                        <li><a href="http://kookoo.ozonetel.com" class="active FOR-BUSINESSES-FOR-DEVELOPERS-SOLUTIONS ">FOR DEVELOPERS</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle FOR-BUSINESSES-FOR-DEVELOPERS-SOLUTIONS" data-toggle="dropdown">SOLUTIONS<b class="caret"></b></a>
                            <ul class="dropdown-menu">  
                                <li><a href="Cloud-Call-Centre-Solutions.html" target="_blank">Contact Center Solution</a></li>
                                <li><a href="Call-Center-CRM-Integration.html" target="_blank">CTI Integration</a></li>
                                <li><a href="Dialer-Software.html" target="_blank">Dialer Software</a></li>
                                <li><a href="http://ozonetel.com/Inbound-Call-Center-Solutions.html" target="_blank">Inbound Call Center </a></li>
                                <li><a href="http://ozonetel.com/Outbound-Call-Center-Solutions.html" target="_blank">Outbound Call Center </a></li>
                                <li><a href="http://ozonetel.com/Virtual-Receptionist.html" target="_blank">Virtual Receptionist</a></li>
                                <li><a href="http://ozonetel.com/Cloud-Telephony-Features/IVR-System.html" target="_blank">IVR System</a></li>
                                <li><a href="http://ozonetel.com/Cloud-Telephony-Features/Missed-Call-Services.html" target="_blank">Missed Call Services</a></li>
                                <li><a href="http://ozonetel.com/Virtual-Phone-Number.html" target="_blank">Virtual Phone Number</a></li>
                                <li><a href="http://ozonetel.com/Toll-Free-Number-Services.html" target="_blank">Toll Free Number Service</a></li>
                                <li><a href="http://ozonetel.com/SMS-Services.html" target="_blank">SMS Service</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle FOR-BUSINESSES-FOR-DEVELOPERS-SOLUTIONS" data-toggle="dropdown">RESOURCES<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://ozonetel.com/CTI-Integration.html" target="_blank">Integrations</a></li>
                                <li><a href="http://ozonetel.com/casestudies.html" target="_blank">Casestudies</a></li>
                                <li><a href="http://ozonetel.com/CloudTelephony-Guides.html" target="_blank">Knowledge Base</a></li>
                                <li><a href="http://blog.ozonetel.com" target="_blank">Blog</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle FOR-BUSINESSES-FOR-DEVELOPERS-SOLUTIONS" data-toggle="dropdown">INDUSTRY<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://ozonetel.com/Cloud-Call-Center-for-eCommerce-Industry.html" target="_blank">eCommerce</a></li>
                                <li><a href="http://ozonetel.com/Communication-Solution-for-Travel-Industry.html" target="_blank">Travel</a></li>
                                <li><a href="http://ozonetel.com/Communication-Solution-for-Healthcare-Industry.html" target="_blank"> HealthCare</a></li>
                                <li><a href="http://ozonetel.com/Cloud-Call-Center-in-Insurance-Sector.html" target="_blank"> BFSI </a></li>
                                <li><a href="http://ozonetel.com/Cloud-Call-Center-for-Manufacturing-Sector.html" target="_blank"> Manufacturing </a></li>
                            </ul>
                        </li>
                        <div class="btn-group">
                            
                                <div class="TRY-FREE-DEMO">
                                    <button class="btn btn-sm  FOR-BUSINESSES-FOR-DEVELOPERS-SOLUTIONS1" type="button"><a href="/signup.html">TRY FREE DEMO</a></button>
                                </div>
                        </div>
                    </ul>
                </div>
                
            </div>