
@media (max-width:576px) {
    .desc {
    width: 80%;
}
.contact-us .desc{
    width: auto;
}
}

@media (max-width:768px) {
     .section-heading {
        font-size: 25px;
    }
    .section-margin {
        margin: 0px 0px 35px 0px;
    }
    .section-padding {
        padding: 35px 0px;
    }
     section.banner {
        background: #ebeff3 !important;
        height: auto;
        padding: 25px 0px;
        height: 100%;
    }
    .sub-heading {
        font-size: 17px;
    }
    .features ul>li>a {
        font-size: 15px;
    }
    p {
        font-size: 14px;
    }
    .theme-btn {
        padding: 8px 12px;
        min-width: 100px;
        font-size: 12px;
    }

    .reqDemo {
        padding: 8px 35px 8px 15px;
    }
    .reqDemo:after {
        top: 0px;
    }
    .features ul>li {

        border-right: none;
    }
    .features ul>li>a {
        font-size: 13px;
    }
    .right-hr-line:after {
        display: none;
    }
    .left-hr-line:after {
        display: none;
    }

    .fixed-header {
        display: none;
    }
   
    .banner-heading {
        font-size: 15px;
    }
    .slidertext {
        margin-right: 0px;
    }
    .slidertext p {
        font-size: 15px;
    }
    /*.desc {
        width: 75%;
    }*/
    .newsletter-form .inputgroup,.newsletter-form .inputgroup:last-child {
        width: 100%;
    }
    .contact-us .desc {
    width: auto;
}

}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    section.banner {
    height: 460px;
}
.features ul>li {
    font-size: 17px;
}
}
@media (min-width: 768px) and (max-width: 991.98px) {
   /* section.banner {
        height: 320px;
     }*/
     .contact-us .desc {
    width: 80%;
}
}
@media only screen and (min-width:1280px) and (max-width: 1600px) {
    section.banner {
        height: calc(100vh - 100px);
    }
}