/*Theme Name: kookoo */


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize

--------------------------------------------------------------*/


/*reset css*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
button:focus {
    outline: 0 !important;
}
.modal-dialog{margin: calc(50vh - 200px) auto;}
.modal-open .modal {overflow-y: hidden;}
/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


form .error{color:#fff;float:left;padding:5px;}



/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

input,
select {
    vertical-align: middle;
}




/*reset css ends*/

body {
    color: #6b6b6b;
    font-size: calc(14rem / 16);
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

.btn:focus,
.btn:hover {
    box-shadow: none;
}

p {
    color: #939393;
    font-size: 16px;
    line-height: 1.5;
}

.fw-600 {
    font-weight: 600;
}

.btn {
    font-weight: 600;
}

.text-orange {
    color: #ff931e !important;
}

.section-heading {
    color: #ff931e;
    font-size: 28px;
    margin-bottom: 45px;
    font-weight: 600;
}

.section-padding {
    padding: 55px 0px 65px 0px;
}

.section-margin {
    margin: 0px 0px 65px 0px;
}

.sub-heading {
    font-size: 20px;
    color: #464646;
    margin-bottom: 10px;
    font-weight: 600;
}

a.sub-heading:hover {
    color: #ff931e;
}

.img-thumbnail {
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(0, 0, 0, 0);
    padding: 10px;
}






/*Header*/

.header {
    width: 100%;
    z-index: 100;
    background: #ff931e;
    padding: 3px 0px 3px 0px;
    webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    transition: 0.5s;
}


.fixed-header {
    position: fixed;
    background: #fff;
    z-index: 100;
    box-shadow: 0px 1px 27px -3px rgba(0, 0, 0, 0.2);
    -webkit-animation-name: stickySlideDown;
    animation-name: stickySlideDown;
}

.fixed-header a.btn.theme-btn.position-relative.reqDemo.active-btn {
    border: 2px solid #ff931e;
}

.header a.btn.theme-btn:hover {
    border: 2px solid #fff;
}

.fixed-header a.btn.theme-btn {
    border: 2px solid #ff931e;
}

.fixed-header a.btn.theme-btn:hover {
    border: 2px solid #ff931e;
}

.newsletter-form .theme-btn {
    border: 2px solid #fff;
    padding: 13px 22px;
}

.newsletter-form .theme-btn:hover {
    border: 2px solid #ff931e;
}



/*Slide down animation*/

@-webkit-keyframes stickySlideDown {
    0% {
        opacity: 0.7;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes stickySlideDown {
    0% {
        opacity: 0.7;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}





/*Slide down animation*/

.header .theme-btn {
    border: 2px solid #fff;
}

.theme-btn {
    color: #fff;
    border: 2px solid #ff931e;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 0px;
    position: relative;
    padding: 10px 22px;
    background: #ff931e;
    min-width: 125px;
}

.theme-btn:hover {
    background: #fff;
    color: #ff931e;
    border: 2px solid;
}

.reqDemo {
    padding: 10px 42px 10px 22px;
}

.active-btn {
    background: #fff;
    color: #ff931e;
}

.active-btn:hover {
    color: #fff;
    background: #ff931e;
}

.active-btn:after {
    filter: none !important;
}

.active-btn:hover:after {
    filter: brightness(10) !important;
}

.reqDemo:after {
    content: '';
    background: url(../../assets/images/arrow-right.png) no-repeat;
    z-index: 0;
    top: 0;
    right: 8px;
    filter: brightness(10);
    position: absolute;
    background-position: center center;
    bottom: 0;
    width: 20px;
}

.reqDemo:hover:after {
    filter: none;
}

.banner-btn:after {
    filter: brightness(0);
}

.banner-btn {
    border: 2px solid #888a8b;
    color: #464646;
    background: #ebeff3;
}

.banner-heading {
    font-size: 35px;
    color: #464646;
    font-weight: 600;
    border-top: 2px solid #ff931e;
    border-bottom: 2px solid #ff931e;
}

.slidertext p {
    font-size: 26px;
    color: #464646;
}
.img-thumbnail.banner{
	    padding: .25rem;
}





/*Header Ends*/


/*Banner*/

section.banner {
    height: 655px;
    position: relative;
}

.slidertext {
    margin-right: 80px;
}

.modal-header .close {
    opacity: 1;
    position: absolute;
    right: 3px;
    font-size: 30px;
}

.modal-header span {
    position: absolute;
    right: -33px;
    background: #f8f9fa;
    height: 40px;
    right: -40px;
    top: 16px;
    padding-top: 5px;
    width: 40px;
}





/*Banner Ends*/


/*online sales */

.sales-section {
    border-bottom: 1px solid #cecece7d
}

.services {
    background: #ebeff3;
}

.desc {
    width: 88%;
}

.left-hr-line:after {
    position: absolute;
    content: '';
    width: 50%;
    background: #ff931e;
    height: 2px;
    top: 55px;
    right: 0;
    left: -29%;
    bottom: 0;
    z-index: -1;
}

.right-hr-line:after {
    content: '';
    position: absolute;
    width: 50%;
    background: #ff931e;
    height: 2px;
    top: 55px;
    z-index: -1;
    right: -195px;
    bottom: 0;
}






/*online sales ends*/


/*news letter*/

.book-demo {
    z-index: 1;
}

.book-demo:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0:;
    background: linear-gradient(to right, rgba(255, 147, 30, 0.93) 0%, rgba(255, 147, 30, 0.92) 100%);
    z-index: -1;
}

.book-demo .section-heading:before {
    content: url(../../assets/images/tick-inside-circle.png);
    position: absolute;
    top: -61px;
    right: 0;
    left: 0;
    bottom: 6px;
    display: inline-block;
}

.newsletter-form .inputgroup:last-child {
    width: 15%;
}

.newsletter-form .inputgroup input,
select {
    width: 100%;
    height: 51px;
    color: #727272;
    padding: 15px 24px;
    border: 0;
    background: #ebeff3;
    font-size: 14px;
    outline: none;
    border-radius: 0;
}

.newsletter-form select {
    background: url(../../assets/images/select-caret-icon.png) no-repeat right 10px center #ebeff3;
    -webkit-appearance: none;
}

.newsletter-form .inputgroup {
    width: 27%;
    display: inline-block;
    /* margin-right: 1%; */
    vertical-align: middle;
}






/*news laetter Ends*/


/*suggested reds */

.explore-btn {
    color: #ff931e !important;
    background: #fff;
    border: none !important;
}

.explore-btn:after {
    filter: none;
}

.card {
    transition: all 0.3s ease 0s;
}

.card:hover {
    box-shadow: 0px 1px 27px -3px rgba(0, 0, 0, 0.2);
}






/*suggested reds Ends */


/*features */

.features {
    background: #ebeff3;
}

.features .sub-heading {
    font-size: 20px;
}

.features ul>li {
    font-size: 22px;
    font-weight: 500;
    border-right: 2px solid #ff931e;
}

.features ul>li:nth-child(3) {

    border: none;
}

.footer-social ul>li>a {
    background: #fff;
    width: 40px;
    border-radius: 50%;
    font-size: 16px;
    border: 2px solid #939393;
    display: inline-table;
    height: 40px;
    color: #939393;
    text-align: center;
    padding-top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-social ul>li>a:hover {
    color: #fff;
}

.footer-social .facebook:hover {
    background: #3B5998;
    border: 2px solid #3B5998;
}

.footer-social .linkdin:hover {
    background: #0077B5;
    border: 2px solid #0077B5;
}

.footer-social .twitter:hover {
    background: #1DA1F2;
    border: 2px solid #1DA1F2;
}









/*features Ends */


/*footer*/

.footer-bottom {
    background: #ebeff3;
    padding: 25px 0px;
}

.footer-bottom p {
    color: #464646;
}

.footer p a {
    color: #939393;
}

.footer p>a:hover {
    color: #ff931e;
}






/*footer Ends*/