* {
    margin: 0;
    padding: 0
}

html,
body {}

body {
    width: 100%;
    color: #20303c;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 400;
    background-image: none;
    /*background-image:url(../img/bg.jpg)*/
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0
}

body.loaded {
    overflow: auto
}

body.loaded .section-intro {
    opacity: 0;
    z-index: -1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transition: 1s cubic-bezier(.77, 0, .175, 1).2s;
    transition: 1s cubic-bezier(.77, 0, .175, 1).2s
}

body.loaded .section-intro .logo {
    -webkit-transition: 1s cubic-bezier(.77, 0, .175, 1).2s;
    transition: 1s cubic-bezier(.77, 0, .175, 1).2s;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%)
}

.section-intro .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.section-intro {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    z-index: 100000
}

body.loaded .section-hero {
    -webkit-transition: 0 1s cubic-bezier(.77, 0, .175, 1).2s;
    transition: transform 1s cubic-bezier(.77, 0, .175, 1).2s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0)
}

.section-hero {
    position: relative;
    overflow: hidden;
    background: url(../images/bg-fr.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

.flickity-prev-next-button:hover,
.section-intro,
hr {
    background: #fff
}

section {
    text-align: center;
    background-color: #fff
}

.nav.nav-pills.nav-justified {
    padding-bottom: 60px
}

footer .copyright {
    background: #333;
    font-size: 12px;
    padding: 5px 0;
}

footer .copyright .privcy-sec {
    text-align: right;
}

@media screen and (max-width: 767px) {
    footer .copyright .privcy-sec {
        text-align: center;
    }
}
