

/*
Author: Bootstrapthemes
Author URI: http://www.bootstrapthemes.co
*/

/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
    body {
        font-size: 1rem;
    }

    .service .nav-tabs>li>a{
        width:195px;
        font-size: 95%;
    }   
    .service_tabe_menu.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
        width:195px;
    }

    .about .single_about .single_ab_text {
        margin-left: 50px;
    }

    .team .single_team_content .single_team_text_overlay .team_overlay_socail a i { 
        width: 22px;
        height: 22px;
        line-height: 22px;
    }
    .btn-md {
        padding: 10px 20px 10px 0px;
    }
    .about_skill_area .about_tabe .about_tabe_menu li a {
        width: 140px;
        line-height: 50px;
    }

}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    html {
        font-size: 90%;
    }

    h3 {
        font-size: 1.575rem;
        line-height: 2rem;
        margin-bottom: 15px;
    }
    h5 {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        color: #696f7c;
        line-height: 1.475rem;
    }
    .single_othersservice_icon h4 {
        font-size: .675rem;
        line-height: 2rem;
    }
    .service .nav-tabs>li>a{
        width:158px;
        font-size: 95%;
    }   
    .service_tabe_menu.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
        width:158px;
    }

    .about_skill_area .about_tabe .about_tabe_menu li a {
        width: 95px;
        line-height: 60px;
        font-size: 0.775rem;
    }
    .single_team_text_overlay h4{
        font-size:0.675rem;
    }
    .single_team_text_overlay p{
        font-size:0.675rem;
    }
    .team .single_team_content .single_team_text_overlay .team_overlay_socail a i {
        width: 14px;
        height: 14px;
        line-height: 14px;
        font-size: .675rem;
    }
    .team .single_team_content .single_team_text_overlay{
        top:25%;
    }
    .choose .main_choose .single_choose{
        margin-top:80px;
    }
    .btn-md {
        padding: 10px 5px 10px 0px;
    }
    button.btn-md{
        font-size:0.675rem;
    }


}
/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    html {
        font-size: 80%;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
        background-color:ghostwhite;
        text-align: center;
        margin-top: 30px;
    }
    .main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
        border-bottom: 0px solid;
    }
    .service .nav-tabs>li>a{
        margin-bottom:10px;
    }

    .single_features_text{
        margin-top:30px;
    }
    .about_tabe{
        padding: 0px 10px;
    }
    .about_skill_area .about_tabe .about_tabe_menu{
        margin-left:0;
    }
    .about_skill_area .about_tabe .about_tabe_menu li a {
        width: 100px;
        line-height: 50px;
    }

    .about_skill {
        margin-top: 30px;
        padding: 0px 10px;
    }
    .single_othersservice_icon h4 {
        font-size: .875rem;
        line-height: 2rem;
    }
    .main_clinetslogo{
        margin-top:30px;
    } 
    .single_counter{
        text-align: center;
        padding-bottom:30px;
        overflow: hidden;
    }
    /*    .grid-item {
            width: 49.93%;
        }
        .portfolio .grid_item_overlay {
            padding-top: 37%;
        }*/
    .team .single_team_content .single_team_text_overlay .team_overlay_socail a i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size:0.875rem;
    }
    .team .single_team_content .single_team_text_overlay h4{
        font-size:0.875rem;
    }
    .team .single_team_content .single_team_text_overlay p{
        font-size:0.875rem;
    }
    .portfolio .head_title{
        text-align: center;
    }
    .portfolio .separator{
        margin:20px auto;
    }
    .btn-md {
        padding: 10px 20px 10px 0px;
    }
    button.btn-md{
        font-size:0.875rem;
    }
    .toolbar{
        text-align: center;
    }


    .copyright_text{
        text-align: center;
    }
    .footer_socail{ 
        text-align: center;
    }
    .footer_subcribs_area .navbar-form {
        padding: 10px;
    }

    .single_widget ul li a i{
        width:3%;
        margin-right:2%;
    }
    .contact .single_info_icon {
        width:15%;
        float: left;
        margin-right: 10%;
    }
    .contact .single_info_text {
        float:left;
        width:75%;
    }
    .navbar-form {
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        -webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,.1),0 0px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 0px 0 rgba(255,255,255,.1),0 0px 0 rgba(255,255,255,.1);
    }


    .footer .flowus{
        text-align: center;
    }
    .copyright_text{
        text-align: center;
    }


}



/* Landscape phones and smaller */
@media (max-width: 479px) {
    html {
        font-size: 65%;
    }
    .btn-md {
        padding: 10px 10px 10px 0px;
    }
    .about_skill_area .about_tabe .about_tabe_menu li a {
        width: 75px;
    }


}





@media (max-width: 320px) {


    html {
        font-size: 60.5%;
    }
    .about_skill_area .about_tabe .about_tabe_menu li a {
        width: 60px;
    }










}

